[2020-07-17 16:19] #940 closed, assigned to nobody

[2020-07-17 16:36] typeundefined opened #1158 "Problem: 'hctl node' is not available by the result of 'hctl bootstrap'"
`hctl node` CLI is backed by `pcswrap` tool that has been moved outside of Hare repo (now it is a part of cortx-ha).

So we have hctl which is a part of Hare but some of hctl implementations are now outside of our repo. We need to think how we can make `hctl node` working in developer environment (i.e. after running hctl bootstrap in the source repo).

[2020-07-22 08:46] typeundefined opened #1162 "Rename pcswrap to hactl"
Required by the result of discussion in #1160

[2020-07-22 08:49] typeundefined opened #1163 "Document hactl tool"
Required by the result of discussion in https://github.com/Seagate/cortx-hare/pull/1160

Depends on #1162

[2020-07-22 08:55] typeundefined opened #1164 "Prepare patch for CSM to use hactl instead of "hctl node""
Required by the results of discussion in #1160

Depends on #1162

[2020-07-29 10:33] vvv opened #1167 "Hare's dependencies on SSPL"
# Problem

Hare's dependencies on SSPL/RAS are poorly understood.

## Facts

(Terms SSPL and RAS are interchangeable.)

- SSPL monitors state of its node's hardware devices (e.g., SAS link disconnect/connect events).
- SSPL cannot detect node failures.  When a node is powered off, the SSPL that runs on that node is gone.  (On the picture below SSPL can detect 1, 3–6, but it cannot detect 2.  Consu

[2020-07-29 19:10] vvv opened #1168 "MS collaboration tools are a pain to use"
# Problem

* SharePoint documents are slow 🐌  to open and rather taxing on the CPU. 💻🔥
  - PowerPoint presentations are particularly bad in this respect: multi-slide presentations take ages to load or, in case of slow network, may not open at all.
* UX of SharePoint products is much worse than that of Google Documents, which engineers used before.   The shortcomings are too many to list, but how a

[2020-07-30 18:15] #1168 closed, assigned to nobody

[2020-07-30 18:20] #1056 closed, assigned to nobody

[2020-07-30 18:20] #1121 closed, assigned to nobody

[2020-07-31 10:41] vvv opened #1170 "Problem: hctl-bootstrap fails due to missing m0confgen"
From: Rupasree Roy \<rupasree.roy@seagate.com\> (@rupasree-roy)
Sent: Thursday, July 30, 2020 9:40 PM
To: CORTX.opensource \<CORTX.opensource@seagate.com\>
Subject: Hare bootstrap error

Hello,

I have been trying to bootstrap hare but getting stuck at this point :
[code]

If I try to give the actual path of m0confgen in the file /opt/seagate/cortx/hare/libexec/hare-bootstrap, this is what it give

[2020-07-31 15:03] rajanikantchirmade opened #1173 "Problem: Hare CDF does not support device path to create BE segment for Motr process"
One of the requirement for EES data recovery is to use some external device to create BE segment, currently Motr create these BE segments at its default location `/var/motr/m0d-<FID>/db/o`.

Motr use BE segments paths from `/etc/sysconfig/m0d-<FID>`. Since `hctl bootstrap` configure Mote processes (m0d), paths for these segments are required to mention in CDF. Bootstrap process parse BE segment pa

[2020-08-01 13:14] vvv opened #1178 "Problem: Hare pull requests are not tested by CI"
**Solution:** enable a Jenkins pipeline that gets triggered whenever new pull request is created or its branch is updated.  This pipeline must support PRs created from _forks_ of https://github.com/Seagate/cortx-hare.

# To Do

- [x] pipeline starts automatically when new PR is created or its branch is updated
      - See [GitHub hook trigger for GITScm polling](https://plugins.jenkins.io/github/#

[2020-08-01 13:14] #1126 closed, assigned to vvv

[2020-08-06 08:30] vvv opened #1185 "Problem: bootstrap fails if Motr is installed from sources as per README_developers.md"
From [README_developers.md](https://github.com/Seagate/cortx-hare/blob/e66ffd875f8e87d1cb14de1ad812d1acea1211f0/README_developers.md#0-prerequisites):

These commands are insufficient, for they do not “install” `m0confgen`: they neither put `m0confgen` into one of the `PATH` directories, nor add `$M0_SRC_DIR/utils` to the `PATH`.

`hctl bootstrap` executes `hare-bootstrap` script, which [tries to

[2020-08-06 08:42] #1170 closed, assigned to nobody

[2020-08-06 17:22] azheregelya opened #1186 "Problem: Troubleshooting section doesn't cover lnet.conf issue"
If `/etc/modprobe.d/lnet.conf` is missing, LNet won't be able to configure network and `lctl list_nids` will show no output.

* This file is created when m0vg VM is [being provisioned](https://github.com/Seagate/cortx-motr/blob/dev/scripts/provisioning/roles/lustre-client/tasks/main.yml#L47) (Vagrant + Ansible).  But we cannot expect every user to use `m0vg` for VM creation.
* For EES hardware we

[2020-08-06 18:19] vvv opened #1187 "Problem: 'make rpm' returns cryptic error message"
The root cause: git submodules were not downloaded (the repo was cloned without `--recursive`).

User is greeted by the following message:
![make-error](https://user-images.githubusercontent.com/17462/89567393-3fde9800-d82a-11ea-9412-75702b06dd9a.png)

### Steps to reproduce

* git-clone the repository without `--recursive`. (This is wrong, but _errare humanum est_.)
* Run `make rpm`.
[code]
* Alt

[2020-08-07 11:42] knekrasov opened #1189 "Problem: HaX service stops by timeout only"
Steps to reproduce:
1. Start single-node cluster using `sudo  hctl bootstrap --mkfs cfgen/examples/singlenode.yaml `
2. Then stop the cluster using `hctl shutdown`
    * Note that step 'Stopping hare-hax at localhost...' takes some time.
3. See hare-hax status:
[code]

Addition: in journald there is a notice that HaX doesn't stop in time:

[code]

Notes:
- One of the reasons is fs-stats-updater th

[2020-08-11 08:30] vvv opened #1193 "Problem: 'make rpm' fails"
[code]

[2020-08-11 08:36] #1193 closed, assigned to nobody

[2020-08-11 12:50] #1178 closed, assigned to vvv

[2020-08-11 14:38] azheregelya opened #1198 "Problem: `make rpm` fails due to wrong header file path"
Error:
[code]

~~Solution will be to revert the rename for `#include "motr/version.h" line in hax source code.~~
Changes are already applied in motr repository.
* Need to wait till new packages are build.
* Need to check whether URL for motr packages is correct

[2020-08-12 04:59] #1186 closed, assigned to azheregelya

[2020-08-12 08:45] knekrasov opened #1201 "There is no right way to specify hax' runtime dependencies"
hax has requirements.txt but it defines the build-time dependencies only. It is said that its runtime deps must be specified in hax/setup.py but in fact they apply if and only if somebody installs hax as a module (e.g. by running `python ./setup.py install`). But our Makefile doesn't install hax.

We need to refactor hax' build procedure a bit to provide a working way to add hax' dependencies.

[2020-08-12 10:26] azheregelya opened #1203 "Problem: Hare CI pipeline fails to checkout repo on dev branch"
This is caused by following line in Jenkinsfile which shows that currently pipeline only supports pull requests.
[code]
Possible solution: use `when` feature to have different behavior for static branches (like dev) and pull request branches.
https://www.jenkins.io/doc/book/pipeline/syntax/#when

[2020-08-12 11:39] azheregelya opened #1204 "Problem: comments in json breaks hare bootstrap"
Error log:
[code]
Following files presumably cause the issue:
[code]

Solution: just remove added copyright information.

[2020-08-12 11:58] #1204 closed, assigned to azheregelya

[2020-08-12 19:03] azheregelya opened #1207 "Problem: hctl shutdown leaves hare-consul-agent.service in failed state"
This leads to situation when cluster can't be bootstrapped again.

hare-consul-agent status:
[code]
`hctl shutdown` doesn't consider cluster as running (which is true in general):
[code]
Logs:
[code]

[2020-08-12 19:08] vvv opened #1208 "Problem: "Error! No key exists" message in bootstrap output"
[code]

Solution: suppress errors of `get_ios_meta_data` function.
[code]
'meta_data' keys are not always available, so errors of 'consul kv get' are to be expected.

[2020-08-13 05:36] #1208 closed, assigned to nobody

[2020-08-13 09:39] imvenkip opened #1211 ""Failed to start hare-hax.service: Unit not found" error while bootstrap"
Got below error while trying single node cluster setup with Motr and Hare latest branches (DevVM)
(Ref: [README_developers.md](https://github.com/Seagate/cortx-hare/blob/dev/README_developers.md))

[code]

**Note:**
created softlink for `m0confgen`.
[code]

[2020-08-13 10:00] vvv opened #1212 "Problem: two README files cause confusion"
Prior to e66ffd875f8e87d1cb14de1ad812d1acea1211f0 `README.md` explained Hare installation from RPM, while `README_developers.md` was dedicated to installation from sources.  This made sense.

Now `README.md` covers both “from sources” and “from RPM” types of Hare installation, and `README_developers.md` also covers source-code installation.  What's the point?

**Which document should new Hare user

[2020-08-13 14:46] #1198 closed, assigned to azheregelya

[2020-08-13 18:13] #1203 closed, assigned to azheregelya

[2020-08-13 22:16] #1211 closed, assigned to nobody

[2020-08-16 22:29] max-seagate opened #1219 "Problem: how to start a cluster after shutdown is missing from README_developers.md"
Simple `hctl bootstrap` doesn't work:
[code]
`--conf-dir` option is not documented enough to pass something.

From `git grep` I got the following:
[code]
Is there any reason not to use `/var/lib/hare` as a default value?

[2020-08-19 04:09] #171 closed, assigned to vvv

[2020-08-20 14:00] #1207 closed, assigned to nobody

[2020-08-21 15:48] azheregelya opened #1228 "h0q (event queue tool) does not work as CLI wihtout PYTHONPATH modifications-"
Following error is produced when running `h0q ev EVENT_TYPE PAYLOAD`
[code]

Modules are searched in .py3env. Current workaround is to redefine PYTHONPATH variable:
[code]

Problem: since h0q tool is supposed to be used as CLI as well, current behavior is not user-friendly at all.
Current issue is created to discuss possible fixes.

[2020-08-27 10:59] #1228 closed, assigned to azheregelya

[2020-08-30 13:57] azheregelya opened #1238 "Problem: proto-rc process incoming eq/ entries in alphabetical order"
Currently consul sorts entries in `eq/` prefix alphabetically. Which means that entries received in the order: `(1, 2, 10)` will be actually processed as `(1, 10, 2)`.

This can cause problem when big-enough number of entries are waiting in `eq/` prefix to be processed.

Possible solutions:
* `jq` tool has `sort` function. It can be added to `proto-rc` script.
* To be researched: configure consul

[2020-08-31 11:19] yatin-mahajan opened #1242 "Unable to configure DIX & MD pools through CDF file"
Getting **" 'dict' object has no attribute 'data_units' "** error on hctl bootstrap with CDF file which has Dix & md pool cofing mention.
[code]

Here is my CDF file.
[code]

However I was able to bootstrap with below workaround in cfgen/cfgen
[code]

[2020-09-01 09:25] madhavemuri opened #1245 "Update m0crate-io-conf utility"
/opt/seagate/cortx/hare/libexec/m0crate-io-conf >/tmp/m0crate-io.yaml

After clovis rename in motr, m0crate params are changed.
So update m0crate-io-conf utility.

[2020-09-01 11:51] vvv opened #1246 "Problem: 'hctl status --json' fails"
[code]

[2020-09-01 12:41] vvv opened #1247 "Problem: Hare CI fails"
http://eos-jenkins.colo.seagate.com/job/Hare/job/hare-test-ci/view/change-requests/job/dev/35/console:
[code]

[2020-09-01 13:32] azheregelya opened #1248 "Problem: no way for bash scripts to get relevant IP address where Hax web server is listening"
Hax gets IP for binding from consul:
`hax/server.py`
[code]

Having a use case when curl is used to access HTTP API endpoint, the request have to be sent to proper IP address. This issue is to find and way to do it.

Possible options so far:
1. Make hax to listen on INADDR_ANY by using `0.0.0.0` argument for webserver to bind.
Tested. It works. The cons here is that hax becomes accessible from all

[2020-09-01 15:13] kaustubh-d opened #1251 "hare-hax crash observed latest centos 7"
hare-hax crash observed latest centos 7 `kernel 3.10.0-1127.19.1.el7.x86_64` . Failure was observed during setup at stage components.ha.iostack-ha

[code]

[2020-09-01 21:09] #1246 closed, assigned to vvv

[2020-09-02 10:09] #1247 closed, assigned to nobody

[2020-09-02 12:06] vvv opened #1256 "Problem: the purpose of 'ci' directory is unclear"
[ci/](https://github.com/Seagate/cortx-hare/tree/dev/ci) tree was used by GitLab CI, but not it's pretty much obsolete.

Solution: `rm -r ci`?

[2020-09-02 12:51] #1245 closed, assigned to nobody

[2020-09-02 12:59] azheregelya opened #1258 "Problem: hctl CLI for SNS repair/rebalance are not defined"
This issue is intended to clarify and define how `hctl` interface for SNS repair/rebalance should look like.

Topics:
1. Input parameters: mandatory and optional
2. Set of commands (CLI format)

Current POC implementation is hosted in https://github.com/Seagate/cortx-hare/pull/1241 pull request suggesting:
`hctl sns-rebalance {start,stop,pause,resume,status} <fid>`

Detailed questions (in progress

[2020-09-03 11:06] vvv opened #1264 "Problem: 'hctl drive' CLI is not documented"
Solution: create new “draft” version of the ‘HCTL’ RFC and document current `hctl` CLI there.

We should not update [11/HCTL](https://github.com/Seagate/cortx-hare/blob/dev/rfc/11/README.md), because it is “stable”.  According to [2/COSS](https://rfc.unprotocols.org/spec:2/COSS/#stable-specifications), “Changes to stable specifications should be restricted to cosmetic ones, errata and clarificatio

[2020-09-03 12:56] #1256 closed, assigned to nobody

[2020-09-04 08:51] knekrasov opened #1268 "Problem: single tag can't identify the fact of message delivery"
It turns out that the implementation #1253 is not sufficient for correct delivery awaiting.

According to @max-seagate, a tag is unique **only** within the same `process <-> process` communication. Since hax communicates with dozens of different processes simultaneously, the tag values will overlap for sure.

Given that send API call looks like this:
[code]
and the delivery callback is as follows:

[2020-09-04 10:00] knekrasov opened #1269 "Problem: ha_link lifecycle is not managed properly in hax"
## Severity: critical

## Problem details

According to @max-seagate, the facts are as follows.

1. `entrypoint_request_cb()` has `first_request` parameter, that says whether it is the first time when this particular process sends entrypoint request (note that it is guaranteed that there are no duplicate Motr processes running at a time);
2. HA links don't get automatically disconnected when one o

[2020-09-04 11:01] #983 closed, assigned to nobody

[2020-09-04 11:05] #1162 closed, assigned to nobody

[2020-09-04 11:07] #1163 closed, assigned to nobody

[2020-09-06 19:38] #779 closed, assigned to nobody

[2020-09-06 19:39] #606 closed, assigned to nobody

[2020-09-06 19:39] #520 closed, assigned to vvv

[2020-09-06 19:39] #589 closed, assigned to nobody

[2020-09-06 19:39] #651 closed, assigned to nobody

[2020-09-06 19:41] #516 closed, assigned to rajanikantchirmade

[2020-09-06 19:41] #661 closed, assigned to nobody

[2020-09-06 19:41] #667 closed, assigned to nobody

[2020-09-06 19:41] #668 closed, assigned to nobody

[2020-09-06 19:41] #671 closed, assigned to nobody

[2020-09-06 19:41] #672 closed, assigned to nobody

[2020-09-06 19:41] #721 closed, assigned to mssawant

[2020-09-06 19:41] #774 closed, assigned to vvv

[2020-09-06 19:41] #852 closed, assigned to nobody

[2020-09-07 10:17] vvv opened #1272 "Problem: Jenkins CI cannot communicate with CloudForms"
‘Prepare VM’ stage of Hare CI [fails](http://eos-jenkins.colo.seagate.com/job/Hare/job/hare-test-ci/job/PR-1266/6/console):
[code]

[2020-09-07 18:58] knekrasov opened #1274 "'h0q bq' publishes JSON as an escaped string which breaks the BQ watcher"
Steps to reproduce:
1. Bootstrap singlenode cluster
2. Run the following command line: `h0q bq M0_HA_MSG_NVEC '{"obj_type": "drive", "obj_name": "vdb", "obj_state": "failed"}'
`
3. Open `journalctl -xe`:
[code]

## Suggestion
Always assume that payload in a queue message is always a JSON, not a string. In other words, the message should look like this:
` {"message_type": "M0_HA_MSG_NVEC", "payload

[2020-09-07 20:32] #1274 closed, assigned to nobody

[2020-09-08 11:54] vvv opened #1280 "Problem: hax/hax/queue/__pycache__ survives distclean"
[code]
`make distclean` should not leave untracked files in the project directory.

[2020-09-08 12:16] vvv opened #1281 "Problem: HaLink is a misnomer"
[`HaLink`](https://github.com/Seagate/cortx-hare/blob/7aa3c9adeb26894e22a451199ef2a7f4d31bb5cc/hax/hax/motr/halink.py#L45) class, defined in `hax/hax/motr/halink.py`, is a misnomer.  This class represents `m0_halon_interface` ([`ha/halon/interface.h`](https://github.com/Seagate/cortx-motr/blob/dev/ha/halon/interface.h) in Motr code).

`m0_ha_link` ([`ha/link.h`](https://github.com/Seagate/cortx-mo

[2020-09-08 15:43] #1268 closed, assigned to knekrasov

[2020-09-09 09:04] knekrasov opened #1282 "Problem: "BQ delivered" mechanism doesn't use bq-delivered/ prefix in Consul KV"
Solution: adjust the current BQ delivered implementation to the nomenclature mentioned in EOS-11502

[2020-09-09 17:39] #1282 closed, assigned to knekrasov

[2020-09-10 12:07] #1281 closed, assigned to nobody

[2020-09-12 13:37] yanqingfu opened #1320 "https://github.com/Seagate/cortx/blob/main/doc/Cluster_Setup.md#3-installation-from-sources-single-node-setup suggestions"
1 could consider link to https://github.com/Seagate/cortx/blob/main/doc/DEV_VM.md
2 404
3 404

![image](https://user-images.githubusercontent.com/68423216/92996700-19ee9680-f540-11ea-868f-37c25a44ed45.png)

[2020-09-15 00:25] johnbent opened #1296 "consul-bin is required?"
All,

@PengMacro was following the instructions here: https://github.com/Seagate/cortx-hare/blob/799f2c8a68e18bcc16049815613379c139135cce/README_developers.md and failed on a 'git clone'.  Does consul-bin need to be open for the community?

Thanks,

John

[2020-09-15 22:30] vvv opened #1299 "Problem: Hare uses submodules"
Solution:
- Use official Consul & Dhall RPMs instead of submodules.
- Update `README.md` appropriately.

Jira: [EOS-13017](https://jts.seagate.com/browse/EOS-13017)

[2020-09-16 08:02] knekrasov opened #1300 "Problem: h0q doesn't ingest the payload from stdin"
The problem was discovered in scope of https://github.com/Seagate/cortx-hare/pull/1297 ([comment](https://github.com/Seagate/cortx-hare/pull/1297#discussion_r489095409))

It seems like the core problem is that payload is a **positional argument** and there is no way to instruct Click library to consume payload eagerly even if there are spaces and other separators.

Solution:
1. Make payload an opt

[2020-09-16 09:54] knekrasov opened #1302 "Problem: hare-{repair,rebalance} don't use private IP addresses when communicating to hax"
As of #1301 hax doesn't listen to `0.0.0.0` and thus it is not accessible via `localhost`.
`hare-repair` and `hare-rebalance` must learn the virtual address of the current node first to use it in their CURL invocations.

Suggestion: re-implement the mentioned scripts in Python and leverage [hax/util.py](https://github.com/Seagate/cortx-hare/blob/dev/hax/hax/util.py) from hax module. Motivation:
1.

[2020-09-16 10:33] yanqingfu opened #1303 "git clone --recursive https://github.com/Seagate/cortx-hare.git hare error"
[root@ssc-vm-1091 cortx]# git clone --recursive https://github.com/Seagate/cortx-hare.git hare
Cloning into 'hare'...
Username for 'https://github.com': yanqingfu
Password for 'https://yanqingfu@github.com':
remote: The `Seagate' organization has enabled or enforced SAML SSO. To access
remote: this repository, you must use the HTTPS remote with a personal access token
remote: or SSH with an SSH ke

[2020-09-17 09:15] #1299 closed, assigned to chumakd

[2020-09-17 16:27] #1212 closed, assigned to nobody

[2020-09-17 16:30] #815 closed, assigned to nobody

[2020-09-17 16:32] #1303 closed, assigned to nobody

[2020-09-17 16:48] #1069 closed, assigned to nobody

[2020-09-17 16:50] #72 closed, assigned to mssawant

[2020-09-17 16:51] #97 closed, assigned to vvv

[2020-09-17 16:57] #170 closed, assigned to nobody

[2020-09-17 16:58] #172 closed, assigned to nobody

[2020-09-17 17:48] #185 closed, assigned to andriytk

[2020-09-17 17:50] #282 closed, assigned to rajanikantchirmade

[2020-09-17 17:50] #294 closed, assigned to chumakd

[2020-09-17 17:51] #376 closed, assigned to chumakd

[2020-09-17 17:52] #407 closed, assigned to vvv

[2020-09-17 17:53] #432 closed, assigned to nobody

[2020-09-17 17:53] #442 closed, assigned to nobody

[2020-09-17 17:54] #448 closed, assigned to nobody

[2020-09-17 17:54] #480 closed, assigned to nobody

[2020-09-17 17:55] #502 closed, assigned to mssawant

[2020-09-17 17:55] #507 closed, assigned to nobody

[2020-09-17 17:56] #509 closed, assigned to nobody

[2020-09-17 17:56] #510 closed, assigned to nobody

[2020-09-17 17:57] #511 closed, assigned to nobody

[2020-09-17 17:57] #555 closed, assigned to andriytk

[2020-09-17 17:58] #558 closed, assigned to nobody

[2020-09-17 17:58] #560 closed, assigned to vvv

[2020-09-17 17:59] #565 closed, assigned to andriytk

[2020-09-17 17:59] #566 closed, assigned to nobody

[2020-09-17 18:00] #578 closed, assigned to rajanikantchirmade

[2020-09-17 18:03] #580 closed, assigned to nobody

[2020-09-17 18:03] #597 closed, assigned to nobody

[2020-09-17 18:03] #600 closed, assigned to rajanikantchirmade

[2020-09-17 18:03] #603 closed, assigned to rajanikantchirmade

[2020-09-17 18:03] #619 closed, assigned to nobody

[2020-09-17 18:03] #621 closed, assigned to nobody

[2020-09-17 18:03] #624 closed, assigned to nobody

[2020-09-17 18:03] #625 closed, assigned to rajanikantchirmade

[2020-09-17 18:03] #629 closed, assigned to nobody

[2020-09-17 18:03] #630 closed, assigned to nobody

[2020-09-17 18:03] #632 closed, assigned to nobody

[2020-09-17 18:03] #633 closed, assigned to nobody

[2020-09-17 18:03] #634 closed, assigned to nobody

[2020-09-17 18:03] #665 closed, assigned to nobody

[2020-09-17 18:03] #674 closed, assigned to nobody

[2020-09-17 18:03] #686 closed, assigned to nobody

[2020-09-17 18:03] #712 closed, assigned to rajanikantchirmade

[2020-09-17 18:03] #714 closed, assigned to nobody

[2020-09-17 18:03] #722 closed, assigned to nobody

[2020-09-17 18:03] #727 closed, assigned to nobody

[2020-09-17 18:03] #775 closed, assigned to vvv

[2020-09-17 18:03] #778 closed, assigned to mssawant

[2020-09-17 18:03] #847 closed, assigned to nobody

[2020-09-17 18:03] #869 closed, assigned to nobody

[2020-09-17 18:03] #832 closed, assigned to nobody

[2020-09-17 18:07] #873 closed, assigned to azheregelya

[2020-09-17 18:07] #874 closed, assigned to vvv

[2020-09-17 18:07] #896 closed, assigned to nobody

[2020-09-17 18:07] #900 closed, assigned to nobody

[2020-09-17 18:07] #906 closed, assigned to nobody

[2020-09-17 18:07] #931 closed, assigned to azheregelya

[2020-09-17 18:07] #932 closed, assigned to azheregelya

[2020-09-17 18:07] #952 closed, assigned to azheregelya

[2020-09-17 18:07] #969 closed, assigned to vvv

[2020-09-17 18:07] #972 closed, assigned to nobody

[2020-09-17 18:07] #986 closed, assigned to nobody

[2020-09-17 18:07] #993 closed, assigned to nobody

[2020-09-17 18:07] #1016 closed, assigned to chumakd

[2020-09-17 18:07] #1100 closed, assigned to nobody

[2020-09-17 18:07] #1109 closed, assigned to nobody

[2020-09-17 18:07] #1120 closed, assigned to mssawant

[2020-09-17 18:07] #1131 closed, assigned to nobody

[2020-09-17 18:07] #1114 closed, assigned to vvv

[2020-09-17 18:09] #1153 closed, assigned to nobody

[2020-09-17 18:10] #1155 closed, assigned to rajanikantchirmade

[2020-09-17 18:11] #1185 closed, assigned to nobody

[2020-09-17 18:12] #1156 closed, assigned to rajanikantchirmade

[2020-09-17 18:23] #1158 closed, assigned to nobody

[2020-09-17 18:30] #1187 closed, assigned to nobody

[2020-09-17 18:32] #1296 closed, assigned to nobody

[2020-09-17 18:34] #1272 closed, assigned to nobody

[2020-09-18 15:06] imvenkip opened #1325 "Problem: Consul service is not started during bootstrap"
Hare commit 27395f988f8d90eea6a82ecd04a97616aca2275b.

[code]

[code]

`/opt/seagate/cortx/hare/bin/consul` file is absent.

[2020-09-18 16:43] #1242 closed, assigned to vvv

[2020-09-18 18:14] mssawant opened #1326 "Problem: 'hctl node-join' doesn't take cluster information from Consul"
`hctl node-join` relies on [CDF](https://github.com/Seagate/cortx-hare/blob/dev/rfc/18/README.md#cluster-description-file-cdf) to recreate Hare and Consul configuration files if those files are missing from the cluster node.

Solution: instead of using CDF, let `hctl node-join` command retrieve data from the running Consul.

[2020-09-20 08:20] imvenkip opened #1331 "Need to add "sudo" for two commands in hare installation document."
https://github.com/Seagate/cortx-hare/blob/dev/README.md#installation

Two sections:
   1. install motr
   2. Build and install hare

got below errors while executing without "sudo"

[code]

[code]

[2020-09-20 10:07] #1331 closed, assigned to nobody

[2020-09-20 11:30] vvv opened #1333 "Problem: 300 people have push access to the main repository"
Currently three hundred people can create new branches in [Seagate/cortx-hare](https://github.com/Seagate/cortx-hare) repository:

![Base role = Write](https://user-images.githubusercontent.com/17462/93709379-7c4e2500-fb46-11ea-9d7d-405303d8c41e.png)

And [they](https://github.com/Seagate/cortx-hare/pull/1290#discussion_r487905512) [do](https://github.com/Seagate/cortx-hare/pull/1332#issuecomment-

[2020-09-22 10:42] #1189 closed, assigned to rajanikantchirmade

[2020-09-22 12:34] vvv opened #1339 "Problem: Hare CI cannot install Lustre"
The 'Install Dependencies' stage of Hare CI [fails](http://eos-jenkins.colo.seagate.com/job/Hare/job/hare-test-ci/job/PR-1336/6/execution/node/67/log/):
[code]
http://cortx-storage.colo.seagate.com/releases/eos/lustre/ contains `custom` directory but not `lustre-2.12.3`.

@shailesh-vaidya Where there any recent changes at `cortx-storage.colo.seagate.com` file system?  Does Hare CI's VM (`ssc-vm-05

[2020-09-22 12:55] #1339 closed, assigned to shailesh-vaidya

[2020-09-24 12:02] Saumya-Sunder opened #1340 "[No need to] Add SECURITY and SUPPORT files"
Hey @vvv we need to add two new files to the root folder : [SECURITY.md](https://github.com/Seagate/cortx/blob/main/SECURITY.md)  and [SUPPORT.md](https://github.com/Seagate/cortx/blob/main/SUPPORT.md)

Please refer to [Issue # 310](https://github.com/Seagate/cortx/issues/310). We have added it to the rest of the repos. Could you please add these?

[2020-09-24 14:59] vvv commented on #1340
Mmm, it doesn't look like https://github.com/Seagate/cortx/issues/310 is related...

@Saumya-Sunder May I ask you to create a pull request?  See [Sending patches](https://github.com/Seagate/cortx-hare/blob/0ef78d4756b0dbccad66fe2c9c64807b32276ca4/CONTRIBUTING.md#sending-patches) section of Hare's `CONTRIBUTING.md`.  If you need help, we can have a screen sharing session.  Thank you.

[2020-09-24 15:04] vvv commented on #1340
@Saumya-Sunder 🕣 It's 20:34 IST, so I guess your work day is over. Could you at least describe me, what problem is solved by addition of SECURITY and SUPPORT files?

[2020-09-24 15:27] Saumya-Sunder commented on #1340
@vvv [This is the ask](https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file) since the repos are not linked to CORTX we need to add these files individually to each repo.

[2020-09-24 17:45] Saumya-Sunder commented on #1340
@gauravchaudhari02 @mukul-seagate11 : I do not see the CONTRIBUTING.md file popping up while creating a PR. Both @vvv and I tested it. Could you help us fix this issue? I have put SUPPORT and SECURITY file uploads on hold. Also let me know if I can schedule a meeting between all four of us at a suitable time on Monday to fix this?

[2020-09-24 18:44] vvv commented on #1340
When I'm creating a pull request for <b>cortx</b> repository, there is a popup with “Contributing guidelines” link.
<details>
<summary>Screenshot 1</summary>

![cortx PR](https://user-images.githubusercontent.com/17462/94185279-c5d3a280-fead-11ea-8c66-23fc8bbb5b95.png)

</details>

When I'm creating a pull request for <b>cortx-hare</b>, there is no popup.
<details>
<summary>Screenshot 2</summary>

[2020-09-24 18:46] vvv commented on #1340
@mukul-seagate11 Can you explain what “linking a repository to CORTX” means?

[2020-09-24 18:53] vvv commented on #1340
Ah, I got it! 💡

[About default community health files](https://docs.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file#about-default-community-health-files):

@mukul-seagate11 @gauravchaudhari02 @Saumya-Sunder We need to create a public https://github.com/Seagate/.github repository and populate it with the required files — `CODE_OF_CONDUCT.md`, `CONTRIBUTING

[2020-09-26 13:45] madhavemuri opened #1344 "m0crate-io-conf is throwing up some o/p errors even though o/p file is fine."
# /opt/seagate/cortx/hare/libexec/m0crate-io-conf > crate.yaml
Usage: grep [OPTION]... PATTERN [FILE]...
Try 'grep --help' for more information.
Usage: grep [OPTION]... PATTERN [FILE]...
Try 'grep --help' for more information.

Need to fix the reason for these output messages.

[2020-10-01 08:03] gauravchaudhari02 commented on #1340
@vvv, We cannot create `.github` repository at an organization level as it would have documents specific to `cortx` and it would be a bad idea as we also have repositories from other teams. Those repositories will get cortx document  pop-ups unnecessarily.

e.g:

![image](https://user-images.githubusercontent.com/61046500/94783576-81cf2900-03ea-11eb-9a5e-edae4a3c51da.png)

[2020-10-01 15:46] johnbent commented on #1340
@gauravchaudhari02 plus @xahmad : if we use the default .github approach, then the CORTX specific health files will show up for all repo's in Seagate.  Great for CORTX!  Maybe OK for some other Seagate repos maybe a bit annoying for some other repos.  But if some other repo doesn't like it, then can't they just create their own files which will override the default ones in the default .github fold

[2020-10-05 11:17] imvenkip opened #1355 "[Single node cluster - VM] "hctl shutdown" is not working properly with 173 build"
auto-deploy-command:

[code]

1. Created single node cluster with 173 build. (without any failures)
	Issue: After deployment eth1 and eth2 have same IP address.

[code]

2. hctl status

[code]

3. hctl shutdown

[code]
4. Cluster.yaml file

[code]

[2020-10-06 12:06] gauravchaudhari02 commented on #1340
@xahmad, Could we get your opinion on above please?

[2020-10-08 14:08] xahmad commented on #1340
Yes, I love the idea of an org level specific health files.

As long as the language is not Cortx specific and general, that will be a great addition!

[2020-10-10 14:42] vvv opened #1365 "Problem: Codacy warnings prevent patches from being merged"
Mandatory Codacy checks add friction, doing more harm than good.

* Codacy “rulebook” is not published anywhere.  Developers have no way of knowing if their patches will comply with Codacy's expectations before PRs are published.  Also developers cannot run Codacy locally.
* Codacy's ‘PEP 257 docstring style checker’ is buggy.
* Codacy tends to report non-issues.  Fixing such warnings makes the co

[2020-10-10 14:43] vvv commented on #1365
cc @pujamudaliar @gauravchaudhari02 @mukul-seagate11 @mssawant @NeeravChoudhari @knekrasov @chumakd

[2020-10-10 14:49] vvv commented on #1365
I've updated [branch protection rules](https://github.com/Seagate/cortx-hare/settings/branch_protection_rules/17666787) for the ‘main’ branch:

![image](https://user-images.githubusercontent.com/17462/95658107-cbbdba80-0b20-11eb-890b-c6f0f01b9e27.png)

[2020-10-10 14:49] #1365 closed

[2020-10-12 06:43] gauravchaudhari02 commented on #1340
@johnbent, Could you please comment here?

[2020-10-14 09:27] imvenkip opened #1374 "Cortx-Hare build is failed (main branch)"
http://eos-jenkins.mero.colo.seagate.com/job/GitHub-custom-ci-builds/job/custom_build_test/job/hare-custom-build/2314/console

3:34:19  Compiling /root/rpmbuild/BUILDROOT/cortx-hare-1.0.0-2314_git3e0b565.el7.x86_64/opt/seagate/cortx/hare/conf/setup.py ...
13:34:19    File "/opt/seagate/cortx/hare/conf/setup.py", line 34
13:34:19      def get_data_from_provisioner_cli(method, output_format='json')

[2020-10-14 12:48] knekrasov commented on #1201
The right way to do that is to specify the dependency both in setup.py and in requirements.txt.

Closing this ticket as not relevant.

[2020-10-14 12:48] #1201 closed

[2020-10-19 06:57] indrajitzagade commented on #1167
@vvv Can we close this PR?

[2020-10-19 08:05] knekrasov commented on #1167
@vvv has left Seagate.

@mssawant Do you have clear understanding how SSPL and Hare must interact?

[2020-10-19 08:16] vvv commented on #1167
cc @ajaysrivas

[2020-10-19 08:17] cdeshmukh commented on #1167
this is CortxV2 work as i see, can defer for time being.

[2020-10-19 14:11] johnbent commented on #1340
If we can add them at the org level, then let’s please do so. If we can’t, please go ahead and merge this in to each child repo.

I think our files are CORTX specific so I think we have to add at each individual repo...

[2020-10-19 17:53] gauravchaudhari02 commented on #1340
@johnbent, We already have it at the org level, but as the file data is CORTX related, we might need to add it to each CORTX child repository.
Again, would it be good to move the `CODE-OF-CONDUCT`,`CONTRIBUTING.md` files of each component inside the `.github` folder?

[2020-10-19 18:04] vvv commented on #1340
@gauravchaudhari02 I've left Seagate. ⛵️

@azheregelya Can you take this over (or delegate to someone) please?

[2020-10-19 18:11] gauravchaudhari02 commented on #1340
@vvv, sad to hear that 😞 But we are opensource now. so you could give your expert suggestion 🙂

[2020-10-19 22:04] vvv commented on #1340
@gauravchaudhari02 No, we don't want to _hide_ `CONTRIBUTING.md`.

[2020-10-20 10:53] azheregelya commented on #1340
@gauravchaudhari02 Hiding `CONTIRUBUTING.md` is bad idea, since this file is **expected to be read** before "Create pull request" button is hit. Therefore it should be **noticeable** and placed in **expected** location (which is root folder in our case).

`.github` folder is apparently Github related feature which can be a problem for people and companies who want to host the fork of this repo in

[2020-10-20 11:35] gauravchaudhari02 commented on #1340
@azheregelya, Agree with you 👍🏼   We can keep `CODE_OF_CONDUCT.md` in org wide `.github` and other files as it is.
What is your thought @johnbent?

[2020-10-21 18:22] johnbent commented on #1340
Yes, this makes sense @gauravchaudhari02 .  Thanks!

[2020-10-26 13:56] andriytk opened #1383 "hax: to track and return available connection slots to m0clients via localhost tcp"
Currently, all dynamic Motr clients (like m0cp utilites) have to know the free/available process fid and local endpoint address in order to be able to connect to the cluster, which is very inconvenient and cumbersome. There is a proposition to eliminate this annoying requirement and improve the user experience by allowing `hax` to keep track of all the local m0client connections that are used at t

[2020-10-26 15:52] andriytk opened #1385 "hax: to send periodic keepalive msgs to m0clients"
Currently, `hax` does not finish `ha_link`(s) with m0_client processes as these processes are not monitored by Consul and NC_FAILED is not sent for them when they disconnect or die unexpectedly. This may result in Motr RM-resources leakage or dead-locks or some other nasty things.

Suggested solution: `hax` can send periodically (once a second, for example) keepalive msgs to its m0_client processe

[2020-10-26 15:56] andriytk commented on #1385
cc @mssawant , @madhavemuri , @NeeravChoudhari

[2020-10-26 15:57] andriytk commented on #1383
cc @mssawant , @NeeravChoudhari , @chumakd , @nikitadanilov , @johnbent

[2020-10-29 09:38] andriytk opened #1388 "Problem: make rpm fails with Permission denied error"
[code]

[2020-10-29 12:00] #1388 closed

[2020-10-30 06:51] yanqingfu opened #1391 "hare Run I/O test m0crate: command not found"
![image](https://user-images.githubusercontent.com/68423216/97669562-5742bf80-1abf-11eb-8dd2-c5b3688f7135.png)

[2020-10-30 14:20] Saumya-Sunder commented on #1340
@gauravchaudhari02 can I move this to the .git folder you created the last time? I am assuming that I need to delete the CODE_OF_CONDUCT file from all repos if this is moved? @johnbent please confirm?

[2020-11-02 08:10] gauravchaudhari02 commented on #1340
@Saumya-Sunder, Yes. you can delete it as CODE_OF_CONDUCT is now at org level `.github` repository.

[2020-11-02 13:14] Saumya-Sunder commented on #1340
Done @gauravchaudhari02

[2020-11-02 13:14] #1340 closed

[2020-11-04 10:52] andriytk commented on #1383
cc @nezzzu

[2020-11-10 05:40] mssawant opened #1396 "Problem: Delayed Consul service failure notifications lead to Motr panic: !rep->hae_disconnected_previously"
Situation, node-1 failed, failover in-progress to node-2

Hax services start..
[code]
confd-c1 start initiated on node-2

[code]
hax-c1 already says that confd-c1 and ios-c1 started

[code]
Stating confd-c2

[code]

hax-c2 started,
[code]

hax-c1 then sees self (hax-c1) and ios-c1 as failed for some reason from Consul catalog, probably due to a delay?

[code]
and disconnects all the ha links,

[co

[2020-11-10 05:50] mssawant commented on #1396
Following approach is what I am thinking of to avoid the races between consul detection,  hax broadcast and motr service start

In entrypoint callback
  if first_request
    get status from consul
      if process entry is present in consul
         process restarted, so broadcast process failed first and disconnect all the halinks.
         send entrypoint_reply

In process callback ( this is don

[2020-11-10 11:21] andriytk commented on #1396
@mssawant it's very hard to deduce the race problem from your original very long description (it takes a lot of time to figure this out and we all don't have this time). Could you please try to write a short summary with a few steps explaining how the race happens? I think that would be very helpful to understand the problem.

[2020-11-10 23:19] mssawant commented on #1396
@andriytk, to summarize, hax is sending motr process failure notification for the process even if the process is active this is leading to the motr process panic when it discovers that hax has already decided that its failed and has disconnected halinks.
This happens due to a delay/race between hax failure broadcast and motr process starting.

[2020-11-11 11:31] andriytk commented on #1396
Yes, it is known issue (well, at least by me). I just was not sure how severe it is. The reason is that Consul is a consensus-based distributed system. So before sending the service status update - it has to synchronise the new status among all raft-members. And this may take some time...

From another side, Pacemaker may re-start the services at any time. So we have a problem here indeed.

BTW, w

[2020-11-11 14:20] mssawant commented on #1396
Right now there's a blocker https://jts.seagate.com/browse/EOS-14988. I too saw this issue during node crash.
In https://jts.seagate.com/browse/EOS-14988, I see that confd and hax failed because of the delayed notification from hax.
confd-c1 start too failed and pacemaker banned it because the entrypoint request from it kept failing as hax was not able to fetch details from Consul because consul l

[2020-11-17 10:16] andriytk opened #1401 "Problem: m0_servers sections is mandatory in CDF even for the client-only nodes"
On the SAGE prototype cluster, there are server and client-only nodes. And if `m0_servers` section is not configured in the CDF for some client node, cfgen would fail with the error:

[code]

To workaround the issue I specified the following for each client node:

[code]

(Not sure whether it will work as needed though - whether it won't put io-services with empty disks list onto the client nodes.

[2020-11-17 11:57] andriytk commented on #1401
Looks like the workaround does not work after all:

[code]

[2020-11-19 12:29] #1401 closed

[2020-11-20 11:57] nezzzu commented on #1383
This is an important feature that is needed for HPC environments. The Sage cluster upgrade is completing soon. We will need this functionality after that. @johnbent do we have plans for implementing this feature?

[2020-11-24 16:09] andriytk opened #1406 "Problem: hax runs fs-stats updater on all cluster nodes"
There are 16 client nodes on the SAGE cluster and 6 server nodes - and on all of them `hax` runs fs-stats updater:

[code]

It does not only spam the system log, but also generates a redundant load on Consul (by updating the stats from each node in KV Store) and Motr.

Suggestion: modify `hax` code so that it runs fs-stats updater only on the RC-leader server node. On each iteration, `hax` can che

[2020-11-24 16:13] andriytk commented on #1406
cc @NeeravChoudhari, @mssawant, @chumakd, @azheregelya, @nikitadanilov.

[2020-11-25 08:40] knekrasov opened #1407 "Problem: refactor wait_for_all/wait_for_any in DeliveryHerald class to avoid code duplication"
As of https://github.com/Seagate/cortx-hare/pull/1400 DeliveryHerald class contains one more method wait_for_all (in addition to previously introduced wait_for_any). The code seems to be mostly a copy-paste. It seems like those two methods can be refactored to have basic logic: how to block, how to wait until a some predicate is True etc. And these two methods can simply provide different predicat

[2020-11-25 09:52] knekrasov commented on #1406
Even though the concern in the ticket description is valid, it doesn't sound like an urgent issue.

The only thing that I can miss in this judgement is additional Motr fops that fs-stats-updater thread generates (I just have no idea how fragile Motr is to this kind of load).
@NeeravChoudhari can you give your opinion on the priority of this issue?

[2020-11-25 11:22] andriytk commented on #1406
@knekrasov

[2020-11-25 12:19] knekrasov commented on #1406
"Redundant" doesn't mean "makes us slow and causes issues". That's why I'm not sure about the priority.

[2020-11-25 12:24] andriytk commented on #1406
If it doesn't now - it will. It's a scalability issue. It's not urgent, but it must be fixed.

[2020-11-30 13:52] andriytk opened #1410 "Problem: Python is not suitable for Hax"
The main problem is that Python does not do the static type checking. On another day I was trying to make some minor change and missed to provide an argument to the function - I could detect the issue only after building the new rpm, deploying it into the system and running the code. It's very inconvenient and time-consuming in the long run.

Suggested solution: re-write `hax` in Go language. Go i

[2020-11-30 13:52] andriytk commented on #1410
cc @NeeravChoudhari , @knekrasov , @chumakd , @azheregelya .

[2020-11-30 13:57] knekrasov commented on #1410
@andriytk Can you describe more what issue you faced and failed to find with mypy?

The thing is that Python has type checks and the static analysis is already involved into the build procedure. So strictly speaking, we can't say that there is no static type checking.

Another question: can anybody recall why Python was chosen for Hare? What objectives/requirements were there at the moment? I thin

[2020-11-30 18:33] andriytk commented on #1410
Python was chosen because it was thought to be simple to program in and that many people are acquainted with it. That was the main reason, as far as I remember. We just needed something to quickly prototype in and that most people could read and understand.

[2020-11-30 18:36] andriytk commented on #1410
Here is the change with the missing argument to the function which builds without any issues:

[code]

[2020-11-30 18:56] vvv commented on #1410
Team members could program in C, Bash, Haskell, and Python.  Our priority was to deliver fast; learning new programming language was a luxury we didn't have.  Seagate upper management, having their fingers burnt with Haskell, became very conservative about the choice of technologies.  I guess Go lang would be a leap too far in those circumstances, but, to be honest, I don't remember it even to be

[2020-12-02 10:13] knekrasov opened #1420 "Problem: non-informative DEBUG logging"
It turns out that several pieces of hax code use DEBUG logging while the output doesn't look informative or helpful during maintenance.

Examples:
[code]
Comments:
1. Node data is not interesting to anyone.
2. "repeatable call started/succeeded" is not needed to anybody. As long as everything works fine nobody is interested that it was a repeatable call.

[code]
Comments:
1. Such an information is

[2020-12-04 07:30] knekrasov opened #1423 "Problem: there is no verbose mode in hctl-shutdown"
This is a maintenance issue. Without verbose output it is hard to understand what went wrong when the script is used in the field.

Solution:
1. Start using `logging` library instead of explicit `print()` calls.
2. Log with different levels of verbosity: normal output (i.e. what we output with `print()` at the moment) goes with INFO, but some debugging, more informative and verbose stuff will go w

[2020-12-08 14:49] andriytk opened #1424 "hctl bootstrap does not check hax startup status"
If hax startup fails - hctl bootstrap would still proceed with Motr startup on the node - which is wrong. It should stop there and print the error.

Steps to reproduce: 1) update Motr source code and don't update Hare; 2) try to bootstrap the cluster. Hax startup would fail at halon_interface_is_compatible(), but the bootstrap will would try to run m0mkfs or m0d.

Detected on commit 571ae39.

[2020-12-08 15:21] andriytk opened #1425 "make devinstall does not work"
Following https://github.com/Seagate/cortx-hare#installation:

[code]

Commit 571ae39

[2020-12-08 15:35] andriytk commented on #1425
Looks like the regression was introduced at commit 69540388103088d902110375c723e9154cb31913.

cc @knekrasov

[2020-12-08 15:39] andriytk commented on #1425
Looks like the correct command should be `sudo sh -c 'export M0_SRC_DIR=/data/motr; make devinstall'`.

[2020-12-08 20:52] mssawant commented on #1425
I think by default it checks cortx-motr at `../HARE_SRC`. I have created a symlink to cortx-motr at `../HARE_SRC`.
This failure can be seen also when cortx-motr is not compiled.

[2020-12-10 15:39] #1396 closed

[2020-12-15 13:51] andriytk opened #1430 "m0d-confd process got stuck killing cpu"
On SAGE cluster the only configured confd process got stuck killing CPU with 100% consumption. m0trace log is full of the following lines:

[code]

m0trace file - [sage-confd-kills-cpu-m0trace-af6819c.36917.zip](https://github.com/Seagate/cortx-motr/files/5695695/sage-confd-kills-cpu-m0trace-af6819c.36917.zip)

Versions:
* Motr - commit af6819c
* Hare - commit 571ae39

The cluster configuration fi

[2020-12-15 13:58] andriytk commented on #1430
Ah, here is the stopping of rconfc in the log:

[code]

[2020-12-15 14:06] andriytk commented on #1430
Ok, so looks like rconfc starts and stops periodically fine in `hax`:

[code]

[2020-12-15 14:30] andriytk commented on #1430
@mssawant , @knekrasov any idea why we set the process fid as profile at https://github.com/Seagate/cortx-hare/blob/571ae39ff04bb76ec14859ffe19c0897b1a777d1/hax/hax/motr/hax.c#L693 ?

[2020-12-15 14:51] knekrasov commented on #1430
Perhaps because this is how I understood the team's explanations how it should be initialized. Does your question mean that this is definitely incorrect, @andriytk ?

If so, can you suggest a right FID hax should use?

[2020-12-15 14:55] andriytk commented on #1430
Profile and process are completely different notions in Motr. Profile is usually one in the cluster configuration, you can see it in the beginning of the `hctl status` output:

[code]

And there are usually many processes configured in the cluster, here are few examples:

[code]

[2020-12-15 15:08] knekrasov commented on #1430
In `hare-status` there is only one mention of profile - it is pool profile. And it has fid, yes. Is it the same thing to the one expected by Spiel API?

As far as I remember, Spiel API will not work without setting the profile fid.

Probably that's an error.

[2020-12-15 15:11] andriytk commented on #1430
Yes, but why on each rconfc start? Why not at `start()` just after https://github.com/Seagate/cortx-hare/blob/571ae39ff04bb76ec14859ffe19c0897b1a777d1/hax/hax/motr/hax.c#L666 ?

[2020-12-15 15:55] knekrasov commented on #1430
Well, initially start_rconfc() was meant to be invoked just once - when the thread initalizes. So at that moment this wasn't really important. But when it turned out that started rconfc that runs for a long time, it was decided to start and stop it as quick as possible.

[2020-12-15 16:22] andriytk commented on #1430
m0trace files from hax and confd just after the cluster restart for further analysis:
[hax-m0trace.64056.txt.zip](https://github.com/Seagate/cortx-hare/files/5697140/hax-m0trace.64056.txt.zip)
[confd-m0trace.64072.txt.zip](https://github.com/Seagate/cortx-hare/files/5697141/confd-m0trace.64072.txt.zip)

[2020-12-15 17:03] andriytk commented on #1430
All requests (and replies) from hax to confd about connection establishment and termination:

[code]

[2020-12-15 18:24] andriytk commented on #1430
m0trace file of confd after few hours since the cluster startup - [confd-m0trace.64072-5.txt.zip](https://github.com/Seagate/cortx-hare/files/5697781/confd-m0trace.64072-5.txt.zip)

[2020-12-15 19:18] andriytk commented on #1430
In this [confd-m0trace.64072-02.txt.zip](https://github.com/Seagate/cortx-hare/files/5698030/confd-m0trace.64072-02.txt.zip) we can see some new connections added:

[code]

All CONN sends:

[code]

Note: all endpoints are `hax`'s ones.

[2020-12-15 19:33] andriytk commented on #1430
Some more info:

[code]

[2020-12-15 21:13] mssawant commented on #1424
@andriytk, this could be because the hax systemd notified success and hax failed at the later point. Hence the bootstrap scripts went ahead with starting motr processes.
This would eventually lead to motr process failure. Ideally, yes we should wait for hax to startup completely.

[2020-12-16 00:50] yanqingfu commented on #1320
2 and 3 still 404

[2020-12-16 19:02] andriytk commented on #1430
Here are the m0trace logs from a simple singlenode configuration (easier to analyse): [confd-m0trace.14465.txt.zip](https://github.com/Seagate/cortx-hare/files/5704914/confd-m0trace.14465.txt.zip), [hax-m0trace.14071.txt.zip](https://github.com/Seagate/cortx-hare/files/5704913/hax-m0trace.14071.txt.zip).

From the preliminary analysis, it looks like new rpc connections are made on each rconfc_star

[2020-12-17 02:59] mssawant commented on #1430
@andriytk, do you have hax journald logs? I wonder if these are related to HA notifications.

[2020-12-17 10:48] andriytk commented on #1430
@mssawant here you are:

[code]

[2020-12-17 11:30] andriytk commented on #1430
@knekrasov can you recall by any chance - what the problem was it?

[2020-12-22 08:02] #1355 closed

[2020-12-22 08:02] #1344 closed

[2020-12-22 08:02] #1325 closed

[2020-12-22 08:03] #1326 closed

[2020-12-22 08:03] #1238 closed

[2020-12-22 08:03] #1251 closed

[2020-12-22 08:03] #1173 closed

[2020-12-22 08:03] #1219 closed

[2020-12-22 08:50] shailesh-vaidya commented on #1325
@mukul-seagate11 @gauravchaudhari02  - Stale bot is still closing issues. Could you please review stale bot configuration.

[2020-12-22 08:59] gauravchaudhari02 commented on #1325
@shailesh-vaidya, I could see that @chumakd has made a commit on `stale.yml` file and opted for default behaviour of stale bot to close issues after 7 days.

[2020-12-22 09:14] shailesh-vaidya commented on #1325
@chumakd  Can we restore `stale.yml` file so that it will not close issues automatically. We may increase `daysUntilStale: 4` period to reduce spamming. As I see it was removed for this reason in https://github.com/Seagate/cortx-hare/tree/a52b4a3c8707a991a98ca8fc64ce5239e05055b9

[2020-12-22 11:24] #1420 closed

[2020-12-22 12:14] knekrasov opened #1435 "Wrong profile FID is used to initialize Spiel API"
The issue is firstly reported by @andriytk.

The problem is in hax.c file:
[code]

It turns out that `m0_spiel_cmd_profile_set` expects profile fid, not the process fid. Note that profile fid is shown correctly in hare-status output:

[code]

[2020-12-22 13:01] andriytk commented on #1435
Thanks @knekrasov for filing this issue. Here is where I reported it 1st time - https://github.com/Seagate/cortx-motr/issues/298#issuecomment-745328577.

[2020-12-22 13:45] chumakd commented on #1325
@shailesh-vaidya sure, feel free to restore it and set some reasonable defaults. Please, either create a pull request or update `main` branch directly as you see fit.

[2020-12-23 03:55] gshipra commented on #1280
Jira issue created - https://jts.seagate.com/browse/EOS-15919

[2020-12-23 10:29] knekrasov opened #1438 "Make Spiel object global"
Currently, fs-stats-updater thread starts and stops rconfc by itself. Given in R2 we'll also need to support SNS operations, Spiel context must be handled differently.

Please note that SNS-related operations are processed in ConsumerThread. Effectively SNS operation goes down to this function from `hax.c`:
{code:c}
static int spiel_sns_op(enum m0_cm_op sns_copy_machine_op,
			unsigned long long c

[2020-12-23 10:51] knekrasov opened #1439 "Refactor ConsumerThread (handler.py)"
[ConsumerThread](https://github.com/Seagate/cortx-hare/blob/main/hax/hax/handler.py#L41) looks over-complicated. Main function is `199 - 82 +1 = 118`  lines long and mainly it is a huge `if/elif/elif` clause. That clause can be easily transformed through something like `Dict[MessageType, Callable[...]]` and would greatly increase readability.

[2020-12-23 16:11] suvratjoshi commented on #1374
Confirmed with @imvenkip
This issue can be closed.
The custom build is passed without errors :
http://eos-jenkins.colo.seagate.com/job/GitHub-custom-ci-builds/job/centos-7.8/job/cortx-custom-ci/315/
Thanks!

[2020-12-28 13:04] SwapnilGaonkar7 commented on #1423
https://jts.seagate.com/browse/EOS-15932

[2020-12-29 14:59] andriytk commented on #1410
Let's close it for now.

[2020-12-29 14:59] #1410 closed

[2020-12-30 00:01] rupasree-roy opened #1444 "'hctl status' hangs and gives 'connection reset by peer' error"
'hctl status' hangs and on pressing ctrl+C gives a bunch of 'connection reset by peer' error as follows:
[code]

[2020-12-30 08:46] knekrasov commented on #1444
@rupasree-roy Thanks for submitting the issue.

The exception that you get when pressing Ctrl-C is quite self-descriptive: Consul KV was not accessible. Such an error is an intermittent one, that's why "hctl status" was silently retrying the operation (which looked like "hang").

So it is more interesting why Consul was not functional. Can you provide more details how to reproduce the issue? Journ

[2020-12-30 08:55] #1406 closed

[2020-12-31 00:36] rupasree-roy commented on #1444
@knekrasov I actually installed everything (hare and motr) from scratch and things are working now. 'hctl status' doesn't hang anymore.

However, here are few stuffs which I had tried/checked before re-installing everything:
* Disabled firewall and tried
* consul agent was working as shown below:
[code]
* hax and m0d processes was running as well
[code]
and
[code]
Since things are working now, don

[2021-01-04 06:26] suvratjoshi commented on #1391
Here, the specific path m0crate needs to be given.
This command works well (path lies in the cortx-motr directory)
'''
./cortx-motr/motr/m0crate/m0crate  -S /tmp/m0crate-io.yaml
'''
This looks to be fix in documentation only.

[2021-01-11 17:51] andriytk opened #1453 "hax: IndexError: list index out of range when Preparing the reply for HaNvecGetEvent"
On SAGE cluster when starting any client process (like c0cp or mcp) it gets stuck forever with the following stack:

[code]

In the system log there is following error from hax:

[code]

(Full log - [hax-IndexError-on-HaNvecGetEvent-syslog.txt](https://github.com/Seagate/cortx-hare/files/5797457/hax-IndexError-on-HaNvecGetEvent-syslog.txt).)

It was working fine yesterday, but not today. Maybe it

[2021-01-11 18:10] mssawant commented on #1453
Checking..

[2021-01-11 18:51] mssawant commented on #1453
@andriytk, can you provide the output of,
[code]
for the nodes that are shutdown? Do you see the problem if all the nodes are up and running?
Probably node_data is empty, we might need to take care of it. I will try to check this locally as well.

[2021-01-11 19:02] andriytk commented on #1453
[code]
Yesterday all nodes where up and running, there was no problem with running `mcp` client utility then.

[2021-01-12 03:31] mssawant commented on #1453
@knekrasov, I am trying to build this patch,
[code]
but failing with below build error,
[code]
but I can see the function part of Agent class in the python-consul sources also able to invoke it explicitly in python3 interactive shell.
Tried multiple things but somehow none of the Agent routines are available other than `self()`, I suspect some kind of build problem but not able to figure it out ye

[2021-01-12 08:35] knekrasov commented on #1453
@mssawant The problem is quite clear - we need to improve [our mypy](https://github.com/Seagate/cortx-hare/blob/main/stubs/consul/__init__.pyi) stubs for python-consul. I'll do that today.

In the meantime, can you explain why `m0conf/nodes` subtree can have not only node names (which are valid to query about from Consul Health) but plain FIDs as well?
Quote from KV/4 RFC:

Key | Value | Descripti

[2021-01-12 09:37] andriytk commented on #1453
Now all the nodes are alive, but the issue is still there:

[code]

The same error from hax when running `mcp`:

[code]

[2021-01-12 10:53] andriytk commented on #1453
After all the client nodes which were offline joined back to the cluster - it started working fine!

[2021-01-12 12:28] knekrasov commented on #1453
@mssawant I've put your patch and added the required typing information to #1455, please have a look.

BTW, I have a couple of concerns regarding the proposed patch.

Perhaps "members" is not safe to use in this context. Here is the snippet from python-consule module, please pay attention to the docstring:
[code]

Can we use consul.catalog.nodes() instead? Here is what I see in my singlenode clust

[2021-01-12 14:07] knekrasov commented on #1453
(answering to myself) `c.catalog.nodes()` doesn't seem to provide Status or anything similar. So the question remains - how safe can we be if we rely on `consul.agent.members()`?

[2021-01-12 14:24] mssawant commented on #1453
@knekrasov,

Inorder to map incoming requests with FIDs from motr to their corresponding node names.

Ah, I did not realize the stubs to restrict the library usage, thank you.

Regarding `members()`,

            vary by agent, use the nodes api of Catalog to retrieve a cluster
            wide consistent view of members.

I don't think we have a case where an agent in the cluster is not able to s

[2021-01-12 15:52] andriytk commented on #1453
@knekrasov, @mssawant, I don't quite understand - why do we need to call the `members` in order to get the node's health? Why not just report that the health is in bad shape (Status is `critical`) if `self.cns.health.node()` returns the empty array?

[2021-01-12 16:03] knekrasov commented on #1453
Very good question. Perhaps it is safe to consider any node as failed by default. So if Consul doesn't provide anything about the node - then consider it as failing.

@mssawant Do you have objections?

[2021-01-12 16:23] mssawant commented on #1453
Did think of it but I am not sure if its safe to assume that the node has failed on getting node status as empty because we don't really know the status of that node which we get from the members data. Actually I think we can do the other way and just invoke `is_node_alive()` that gives us exact status of the node which can also be logged.
Ideally there also needs to be a watcher for the client no

[2021-01-12 16:26] #1435 closed

[2021-01-12 16:47] andriytk commented on #1453
@mssawant such check for the nodes is built-in into Consul - it's called `serfHealth`. That's, actually, what `curl http://127.0.0.1:8500/v1/health/node/<node>` returns:

[code]

If node is absent and the array returns `[]` - I think it would be quite safe and sane to assume that the node is not in a good shape.

[2021-01-12 17:05] mssawant commented on #1453
@andriytk,
I would actually prefer to get an explicit status (which is available) rather than taking a decision on an empty string. It would have been good if  `http://127.0.0.1:8500/v1/health/node/<node>` would have returned something like,
[code]
for a failed node instead of returning nothing, which is not very intuitive.

[2021-01-12 17:40] andriytk commented on #1453
OK, so what do you suggest doing if the node is not alive in members or is not present in the list of members at all (after some time)? Do you think there should be some special logic to handle this case?

[2021-01-12 18:14] mssawant commented on #1453
Well, couple of cases when a node is not part of members data (I am ignoring the fact that this function is just invoked from Motr),
1. node name is wrong - log the message and/or return some appropriate error (e.g. EINVAL in c)
2. node is part of a different data center, in this case the `wan=True` parameter must be set, I think it is anyway good to use `wan=True`  - again if node is not present

[2021-01-14 16:29] gshipra commented on #1407
This issue is fixed as part of EOS-16167

[2021-01-15 01:56] mssawant commented on #1453
@knekrasov , Consul.catalog.nodes() has the same problems as earlier, the result does not include the node details that is left.
[code]
I think for now let's continue with `Consul.agent.members()`.

[2021-01-22 08:51] knekrasov opened #1464 "setup_hare script should be integrated with hax source code"
The way how this application is written, allows only one way how to use it. It is always a CLI and every nested function can potentially terminate the whole application.

What can be improved:
1. Separate CLI logic from "business logic". Example: pcswrap application: https://github.com/knekrasov/cortx-ha/blob/main/ha/pcswrap/pcswrap/client.py#L387 The business logic can be invoked as pure python,

[2021-01-22 08:53] knekrasov commented on #1464
@mssawant @SwapnilGaonkar7 I created this ticket just for the future. I don't think it is of high priority now.

[2021-01-22 10:26] nezzzu opened #1465 "hctl shutdown does not shutdown Sage cluster."
The hctl shutdown command does not smoothly shutdown the Sage cluster even though there is no applications or jobs running. It takes a very long time to shutdown many m0d services. Ctl-C has to be pressed many times to get out of this situation.

[code]

[2021-01-22 10:34] nezzzu opened #1466 "hctl shutdown --force"
The hctl shutdown command takes a long time to shutdown all the services properly. It is not at all helpful to troubleshoot the cluster. What is desirable is a --force option so that
[code]
can be used for re-bootstraping a cluster. This option can be disabled in the final release version to prevent accidental data losses.

[2021-01-25 23:53] andriytk opened #1470 "/dev/null devices in hctl status output are confusing"
[code]
Source - https://cortxcommunity.slack.com/archives/C019S0SGWNQ/p1611594731028900?thread_ts=1611594582.028700&cid=C019S0SGWNQ

Follow up discussion - https://cortxcommunity.slack.com/archives/C01952XCLCF/p1611596097013800

[2021-01-29 12:35] nezzzu opened #1474 "hctl shutdown reports ERROR on VM"
[code]

[2021-02-01 11:27] knekrasov opened #1477 "Problem: CDF generation in scope of Mini Provisioner is incompete"
In scope of #1467 CDF generation was implemented. The implementation is sufficient for singlenode but in the future the following issues must be addressed:

1. Number of S3 instances is not taken from ConfStore. Now it is hard-coded to 11.
2. Metadata storage is always taken as `store.get(f'cluster>{name}>storage>metadata_devices')[0]`. Situation when list of metadata devices is empty will break t

[2021-02-01 11:32] knekrasov opened #1478 "Problem: hare_mp package doesn't pass flake8 and mypy checks"
The code that was copied from setup_hare.py file doesn't pass flake8 and mypy checks.

## Mypy issues
[code]

## Flake8 issues
[code]

[2021-02-01 11:40] knekrasov opened #1479 "Problem: hare_setup.py is redundant and must be removed"
[`hare_setup.py`](https://github.com/Seagate/cortx-hare/blob/main/provisioning/hare_setup.py) was copied as is into [`hare_mp/main.py`](https://github.com/Seagate/cortx-hare/blob/main/provisioning/miniprov/hare_mp/main.py). We don't need to maintain duplicated code, so that `hare_setup.py` must be removed and all other components (like Provisioner) must start using `hare_mp/main.py` (and thus `har

[2021-02-02 09:56] knekrasov opened #1482 "[Mini Provisioner] Arguments like '--config' or '--init' should be just 'config' and 'init' respectively"
In current implementation the hare_setup CLI looks as follows:

[code]

Things that are supposed to be subcommands look like flags. More than that, it doesn't fully correspond to [Mini-Provisioner Specifications](https://seagatetechnology.sharepoint.com/:w:/r/sites/gteamdrv1/tdrive1224/_layouts/15/Doc.aspx?sourcedoc=%7B41048EAD-3E48-4163-B9CC-69A04FE7E67B%7D&file=Mini-Provisioner%20Specifications.

[2021-02-03 10:30] andriytk opened #1486 "hctl bootstrap does not show on which node is the problem with /var/lib/hare permissions"
[code]
It's quite inconvenient.

[2021-02-03 10:32] andriytk opened #1487 "hctl bootstrap does not show which node has the problem with IP config"
[code]

[2021-02-08 14:46] knekrasov opened #1498 "Problem: if hax has crashed, neither 'hctl shutdown' nor 'hctl bootstrap' will work"
JIRA: https://jts.seagate.com/browse/EOS-17407

The problem was observed during Mini Provisioner integration session.

When hax crashed (by whatever reason), neither of hctl scripts could help to get the Hare cluster to some meaningful state. We could neither shut it down ("Cluster is not running!") nor bootstrap again ("hare-consul-agent service is found => cluster is running").

The reason is th

[2021-02-08 17:01] mssawant commented on #1498
We need to handle this asap, I just hit an issue where I triggered `hctl shutdown`, cancelled it in between  so motr processes did not stop. I tried `hctl shutdown` again and it says `cluster is not running` while m0d process was running.
[code]

[2021-02-09 12:45] knekrasov commented on #1498
I re-read my own description and it feels like I mislead myself. Title of this issue is incorrect.

The predicates are effectively the same, so the problem is different.

1. Both bootstrap and shutdown look at Consul to understand whether the cluster is running. Only `hctl status` is different: https://github.com/Seagate/cortx-hare/blob/3239e6c418f3635e75c3e0c4d04b017f7b5aacd1/utils/hare-status#L2

[2021-02-09 16:55] parikshit-dharmale opened #1499 "[Mini Provisioner] hare_setup fails to run with 'hare_mp' ModuleNotFoundError"
After doing git clone and make install of hare repo, running hare_setup script from terminal gives error as ModuleNotFoundError:: No module named 'hare_mp'

O/P:
[code]

[2021-02-10 13:33] hessio commented on #1499
Hi @parikshit-dharmale I am looking into reproducing this error for you now. I am currently trying to reproduce your error now. I will get back to you shortly.

[2021-02-12 09:21] knekrasov opened #1502 "utils/utils.py must be integrated into hax module"
utils/utils.py is a result of hare-shutdown script refactoring. In fact it reuses some of the types from hax already (like `HAConsistencyException` but still re-implements some other things that are already invented in hax code base. For instance, all communication with consul happens directly via `python-consul` 's Consul class. So in case of intermittent Consul exceptions retry will not happen.

[2021-02-15 09:01] knekrasov commented on #1477
Point \[3] is resolved in scope of #1494.
So the only problem left is \[2]: Metadata storage is always taken as `store.get(f'cluster>{name}>storage>metadata_devices')[0]`.

[2021-02-17 02:55] somnathbghule opened #1506 "Failing grep command in /opt/seagate/cortx/hare/libexec/m0crate-io-conf > /tmp/m0crate-io.yaml."
While running IO test using m0crate utility, grep command is failing /opt/seagate/cortx/hare/libexec/m0crate-io-conf >/tmp/m0crate-io.yaml step.

Identical error message present in https://github.com/Seagate/cortx-hare/issues/1391 issue at the bottom.

[root ~]# /opt/seagate/cortx/hare/libexec/m0crate-io-conf >/tmp/m0crate-io.yaml
Usage: grep [OPTION]... PATTERN [FILE]...
Try 'grep --help' for mor

[2021-02-19 09:03] knekrasov commented on #1407
Resolved in scope of #1449

[2021-02-19 09:03] #1407 closed

[2021-02-19 09:09] knekrasov commented on #1498
Closed in scope of #1503

[2021-02-19 09:10] #1498 closed

[2021-02-19 09:45] #1478 closed

[2021-02-19 09:54] knekrasov commented on #1487
@andriytk Can you give a sample CDF where the issue can be reproduced?

[2021-02-19 14:20] andriytk commented on #1487
@knekrasov, select any for several nodes from `cfgen/examples/` dir.

[2021-02-19 19:19] #1487 closed

[2021-02-20 13:31] andriytk opened #1516 "Problem: Hare does not detect deadlock in a monitored Motr process"
Currently, Hare only knows whether the Motr process is running or not, but it does not know whether it can respond to the fops queries. So in case there is a deadlock inside Motr process - Hare wouldn't know about it and would still show the process status as "started" in `hctl status`.

Suggestion: `hax` to send periodic ping/keepalive fops to each local Motr process to check it.

[2021-02-20 13:56] knekrasov commented on #1470
@andriytk, @mssawant

A few questions
1. Do I understand correctly that `/dev/null` should not be shown in hctl status output?
   - So we don't remove `/dev/null` from cfgen because it may be needed for Motr configuration.
2. If so, what should it print instead?

[2021-02-20 14:03] knekrasov commented on #1516
@andriytk
1. If some motr process doesn't reply to ping - what hax should do next?
2. Can you point to an example how to send such a ping/keepalive fop? I would be happy to help with this issue but I'm quite ignorant of Motr API specifics.

[2021-02-20 18:07] andriytk commented on #1470
It seems - there is no point in printing dev-nulls at all.

[2021-02-20 18:10] andriytk commented on #1516
1) Send FAILED ha-status for it. Similar to the case when the whole process dies.
2) Check `m0_ha_msg_keepalive_req` at `motr/keepalive.h`. Ask @max-seagate also.

[2021-02-21 06:16] mssawant commented on #1470
@knekrasov, I think by default we are adding /dev/null CAS device if metadata device is not specified in CDF. Probably we need to make the CAS device mandatory if it is required by Motr or skip configuring a CAS device if not specified.

[2021-02-22 11:15] Shreya-18 opened #1519 "Refactoring of hare-bootstrap and hare-node-join scripts (common functions)"
The common functions are present in script `hare-utils`. Refactor `hare-bootstrap` and `hare-node-join` scripts to make use of such functions from `hare-utils`.
For example `wait4()` is duplicated in all scripts.

[2021-02-24 07:29] supritshinde commented on #1474
Hi @nezzzu I'm currently trying to reproduce this thing at my side.

[2021-03-02 15:24] knekrasov commented on #1516
Created mirror JIRA issue: https://jts.seagate.com/browse/EOS-18469
Hopefully it will speed the things up.

[2021-03-12 13:52] supritshinde commented on #1499
Resolved the issue. PR for ref: https://github.com/Seagate/cortx-hare/pull/1538

[2021-03-15 12:46] yanqingfu commented on #1391
./motr/m0crate/m0crate -S /tmp/m0crate-io.yaml works

[2021-03-15 12:46] #1391 closed

[2021-03-15 12:48] yanqingfu opened #1544 "hctl status and hctl shutdown ModuleNotFoundError: No module named 'hax'"
[root@ssc-vm-2736 hare]# hctl status
Traceback (most recent call last):
  File "/opt/seagate/cortx/hare/libexec/hare-status", line 32, in <module>
    from hax.exception import HAConsistencyException
**ModuleNotFoundError: No module named 'hax'**

[root@ssc-vm-2736 hare]# hctl shutdown
Traceback (most recent call last):
  File "/opt/seagate/cortx/hare/libexec/hare-shutdown", line 28, in <module>

[2021-03-15 13:43] knekrasov commented on #1544
@yanqingfu what version of hare do you use?

I guess this issue has been already fixed in the latest main branch.

[2021-03-15 14:02] yanqingfu commented on #1544
@knekrasov how to check the version of hare?
I use `git clone https://github.com/Seagate/cortx-hare.git hare`  today to get the hare, this should get the latest version of hare

[2021-03-16 09:14] knekrasov commented on #1544
@yanqingfu that's correct, it would be the latest version for sure.
Can you try the following:
1. go to cortx-hare/ folder (the one where you cloned the sources to)
2. sudo make uninstall
3. git clean -dfx
4. And then try to reproduce the issue?

How did you install hare BTW? Was it `make devinstall` or `make install`? Has the command succeed?

[2021-03-16 10:14] yanqingfu commented on #1544
Hi @knekrasov seems that we need to change the doc https://github.com/Seagate/cortx-hare/blob/main/README.md

with `make install` hctl works while 'make devinstall' hctl not working. In the doc, it indicates 'make devinstall'

[haxerrorwithmakedevinstal.txt](https://github.com/Seagate/cortx-hare/files/6147995/haxerrorwithmakedevinstal.txt)

[2021-03-16 10:46] knekrasov commented on #1544
Hm, it seems like you're right. As a workaround, I can suggest two approaches (either ones):
1. use `make install` instead of devinstall
2. after `make devinstall` is invoked, activate the virtualenv with the command like this `source <your-hare-folder>/.py3venv/bin/activate`

[2021-03-16 13:32] knekrasov commented on #1519
This is just a code polishing, no changes for the end user are expected to appear in scope of this issue.

[2021-03-16 13:41] #1499 closed

[2021-03-16 13:47] knekrasov commented on #1479
We can remove this file safely and we don't need to confirm this change with external teams (as per meeting 3/16/21)

[2021-03-16 13:56] knekrasov commented on #1474
Related JIRA ticket https://jts.seagate.com/browse/EOS-18751

[2021-03-16 13:57] knekrasov commented on #1465
Related JIRA ticket: https://jts.seagate.com/browse/EOS-17971

[2021-03-16 14:19] SwapnilGaonkar7 commented on #1482
This issue is addressed under task https://jts.seagate.com/browse/EOS-17172
PR : https://github.com/Seagate/cortx-hare/pull/1504

[2021-03-16 14:19] #1482 closed

[2021-03-16 16:15] knekrasov commented on #1502
Mirror JIRA ticket created https://jts.seagate.com/browse/EOS-18799

[2021-03-16 16:18] knekrasov commented on #1477
Related JIRA ticket:
[EOS-17160](https://jts.seagate.com/browse/EOS-17160) cfgen expects a single meta data device instead of a list

[2021-03-23 11:12] Shreya-18 commented on #1519
Jira ticket : https://jts.seagate.com/browse/EOS-18916

[2021-03-23 11:18] Shreya-18 commented on #1486
Jira Ticket : https://jts.seagate.com/browse/EOS-18914

[2021-03-25 11:41] supritshinde commented on #1474
Issue resolved PR link: https://github.com/Seagate/cortx-hare/pull/1552

[2021-03-25 12:00] s-arya commented on #1474
Issue resolved PR link: #1552

[2021-03-25 12:00] #1474 closed

[2021-03-25 15:53] knekrasov opened #1562 "Makefile doesn't run linters against some of utils/hare-* scripts"
The issue was noticed while reviewing #1559

My editor was showing obvious errors but `make` succeeded. But when I ran `mypy` manually against problematic script, it did show the issues:
[code]

I guess that the problem is as follows:

In Makefile we have `mypy` target defined as follows:
[code]

So the list of PYTHON_SCRIPTS is too narrow.  Ideally, we need to check all our pythonic scripts.

[2021-03-29 13:54] #1479 closed

[2021-04-05 16:08] #1562 closed

[2021-04-07 10:17] knekrasov opened #1581 "[Mini Provisioner] Templates must use TMPL_POOL_TYPE as a placeholder for pool type"
Requirement came from @nitin-seagate during the integration war room (4/7/21).

[2021-04-07 10:21] knekrasov opened #1582 "[Mini Provisioner] "hare_setup config" doesn't overwrite CDF if it exists"
The problem discovered during integration war room call (4/7/21)

[2021-04-13 11:10] knekrasov commented on #1582
Issue was not reproduced. Seems like a false alarm.

[2021-04-13 11:10] #1582 closed

[2021-04-15 05:20] vaibhavparatwar opened #1589 "[README of HARE] : For the step of installing MOTR using RPM, need to add steps in case of failure"
While installing MOTR using RPMs I faced follwing issue:

[root@ssc-vm-3353 hare]# sudo yum -y install cortx-motr cortx-motr-devel
Loaded plugins: fastestmirror, product-id, search-disabled-repos, subscription-manager
Loading mirror speeds from cached hostfile
EOS_CentOS-7_CentOS-7-Extras

[2021-04-16 13:39] TechWriter-Mayur commented on #1589
Hi @vaibhavparatwar!

Thank you so much for your contribution.

We can add this information as an additional information in the document in case someone face the similar issue. But the associated links only works in the Seagate environment (Internal Seagate folks) and our open-source community cannot use this link. Please share the GitHub links for the same with us.

[2021-04-20 09:42] yanqingfu commented on #1544
resolved

[2021-04-20 09:42] #1544 closed

[2021-04-20 09:43] yanqingfu commented on #1320
resolved

[2021-04-20 09:43] #1320 closed

[2021-04-20 11:35] knekrasov commented on #1581
Closed by #1584

[2021-04-20 11:35] #1581 closed

[2021-04-20 11:49] hessio opened #1597 "make command fails when installing HARE on VM"
When I run `make` command in the HARE setup guide I get this error:

[code]

Tagging @mukul-seagate11 for some extra support as to where to resolve this issue.

[2021-04-20 11:58] knekrasov commented on #1597
Please make sure that you have cortx-py-utils installed. Unfortunately, our README file doesn't express that dependency but we have PR for that already: #1595

[2021-04-20 13:05] supritshinde commented on #1597
Installation of Cortx utils would solve the issue. @hessio

[2021-04-21 10:08] hessio commented on #1597
Once I installed cortx-py-utils issue was resolved.

[2021-04-21 10:08] #1597 closed

[2021-04-22 14:08] vaibhavparatwar commented on #1589
@TechWriter-Mayur thanks for response. I am not aware about GitHub link for the same (cortx-motr repos). @cortx-admin - could you please help here?

[2021-04-28 19:21] andriytk opened #1603 "hctl status fails with ModuleNotFoundError: No module named 'hax'"
[code]

Note: Hare was installed with `make devinstall`:

Workaround: change `/usr/bin/python3` to `/home/ant/hare/.py3venv/bin/python3.6` in the 1st line of `/opt/seagate/cortx/hare/libexec/hare-status`.

[2021-05-03 12:29] TechWriter-Mayur opened #1607 "Unable to install HARE using RPM"
Hi Team,

I am following the HARE User Guide and tried to install/configure the HARE using RPM but I am facing the below issue:

[code]
I think the RPM package is not available in the location but there is no instruction to create RPM package? Is it removed from the repo? or do we need to create it?

[2021-05-04 15:40] TechWriter-Mayur commented on #1589
@mukul-seagate11 : We cannot use these internal links in the document for community, we need to find some other way to add these rpm to GitHub then we can add it to HARE User Guide.

[2021-05-05 04:35] mukul-seagate11 commented on #1589
@s-arya, please address the issue as reported

[2021-05-05 08:56] knekrasov commented on #1589
@mukul-seagate11 What solution would you suggest as an architect?

[2021-05-05 09:31] mukul-seagate11 commented on #1589
@knekrasov, as this has been routed to the hare gatekeepers so they have to figure out & discussion internal to resolve the issue?

[2021-05-05 09:39] knekrasov commented on #1589
@mukul-seagate11 Hare gatekeepers know how to keep the source code clean and working. But the strategy how the whole product goes open source, what user experience external users will get while working with Seagate repositories, make sure that the strategy is kept consistent throughout all components - that is definitely out of our responsibility.

That being said, I can suggest just removing the

[2021-05-05 14:48] vaibhavparatwar commented on #1607
This issue is same as #1589  . But as the commands suggeset, this is issue with installing motr using RPMs and not HARE issue.

[2021-05-06 08:22] #1589 closed

[2021-05-06 08:29] knekrasov commented on #1607
Resolved by #1610

[2021-05-06 08:29] #1607 closed

[2021-05-07 14:43] #1425 closed

[2021-05-07 14:43] #1603 closed

[2021-05-07 16:26] #1453 closed

[2021-05-17 17:26] andriytk opened #1620 "hax takes more than 1 minute to stop"
Single-node cluster:

[code]

Log:

[code]

[2021-05-18 11:28] yanqingfu opened #1621 "hare make Cannot find implementation or library stub for module named 'cortx.utils"
[root@ssc-vm-2736 hare]# make
--> Initializing virtual env in /var/cortx/hare/.py3venv
--> Installing pip modules in virtual env
    processing cfgen/requirements.txt
Collecting idna<3,>=2.5 (from -r cfgen/requirements.txt (line 1))
  Downloading https://files.pythonhosted.org/packages/a2/38/928ddce2273eaa564f6f50de919327bf3a00f091b5baba8dfa9460f3a8a8/idna-2.10-py2.py3-none-any.whl (58kB)
    100%

[2021-05-24 14:24] hessio commented on #1621
Hi @yanqingfu what version of CentOS are you using?

[2021-05-24 14:27] knekrasov commented on #1621
@yanqingfu It seems like you don't have cortx-py-utils RPM package installed.

Please have a look at #1595

[2021-05-24 14:35] yanqingfu commented on #1621
@knekrasov seems right, will try install that first

[2021-05-25 04:43] yanqingfu commented on #1621
@knekrasov @hessio
installed py utils (https://github.com/Seagate/cortx-utils/blob/main/py-utils/README.md), still the same error

[root@ssc-vm-2736 cortx]# ls
cortx-motr  cortx-s3server  cortx-utils  hare  kafka.rpm
[root@ssc-vm-2736 dist]# cat /etc/redhat-release
CentOS Linux release 7.8.2003 (Core)

[2021-05-25 08:29] knekrasov commented on #1621
@yanqingfu is this link accessible for you: http://cortx-storage.colo.seagate.com/releases/cortx/github/main/centos-7.8.2003/1117/prod/cortx_iso/cortx-py-utils-2.0.0-209_524f55b.noarch.rpm ?

If so, can you try downloading it and installing via yum or rpm tool?

I know for sure that this RPM version did the job (yesterday @suvratjoshi faced some problems of the same kind yesterday, but that link h

[2021-05-27 06:43] yanqingfu commented on #1621
@knekrasov tried cortx-py-utils stable branch (git clone --recursive https://github.com/Seagate/cortx-utils -b stable), still same error

[2021-05-27 06:49] suvratjoshi commented on #1621
@yanqingfu,
he installation can be done using this command.
Can you try this please?
[code]

[2021-06-02 13:22] hessio commented on #1621
Hi @suvratjoshi is there a way to get this rpm without using an internal link?

[2021-06-02 13:45] hessio opened #1628 "ioservice offline"
All systemctl commands seem to be working and had no issues throughout the setup process.

Here is the output of the `hctl status` command:

[code]

Then I tried to start the process:

[code]

[2021-06-03 10:33] hessio commented on #1628
bootstrap is failing also (this is a fresh VM setup):

[code]

[2021-06-04 13:59] max-seagate commented on #1628
I could confirm that failing single node bootstrap issue is reproducible with Motr main `fa4e1b9f4fc3426f6d5c0c872c736015a90a5ad7` and Hare main `91cd35ca25f0a8aba15aab74d7b5bb1120ece6b7`.

[2021-06-04 14:13] max-seagate commented on #1628
I could also confirm that Motr stable `ea5fc9dc253220e2f3ca961357472824bb0b2279` and Hare stable `56ae1d5953837faac3ff0650bf411e8cee557288` have the same issue as well.

[2021-06-04 14:53] max-seagate commented on #1628
Motr `sage-base-2.0` `09ff6188e3648753057f81dd48c5a16900068c09` and Hare `sage-base-2.0` `0cdd75ebfe89dc14097d8a49986d9abc3f732ea8` have been successfully bootstrapped together, so I assume this combination is not broken.

[2021-06-04 15:11] knekrasov commented on #1628
@max-seagate, @hessio can anybody please attach the jourland logs?

[2021-06-08 14:23] Saumya-Sunder opened #1636 "Information required for Hare QSG"
Hi,
We need the following information to make the Hare Quickstart Guide more accurate and Community friendly.

- Missing the standard configuration information including RAM, Processor, Storage, NICs, etc.

- Prerequisites to install required components including git, and other components.

[2021-06-08 17:41] andriytk opened #1637 "Server restart gets stuck because of hax"
When some server process crashes (like ios) and tries to restart, hax gets entrypoint request from it. But it won't reply on it until it delivers the failed notification about this process to all cluster members beforehand.

Now, among these cluster members there might be some client applications which were failed (crashed) also (utilities, like m0cp). And since such client apps are not monitored

[2021-06-08 17:54] andriytk commented on #1637
I would suggest to add some timer (like 1 min) into hax for such client apps which are not monitored by Consul (utilities, like m0cp etc.) and disconnect ("fail") them if ha_link cannot deliver any msgs to them within the timeout.

@max-seagate what do you think?

[2021-06-09 10:13] TechWriter-Mayur opened #1640 "Unable to copy singlenode.yaml while preparing CDF"
I am not able copy the singlenode.yaml using the `cp /opt/seagate/cortx/hare/share/cfgen/examples/singlenode.yaml ~/CDF.yaml` command. See the error image:

![image](https://user-images.githubusercontent.com/64980335/121335883-a051d080-c938-11eb-98bb-cac2c439c00f.png)

I am following [HARE QSG](https://github.com/Seagate/cortx-hare#prepare-the-cdf).

[2021-06-09 10:15] hessio commented on #1640
Have you seen any errors before this?

[2021-06-09 10:15] knekrasov commented on #1640
@TechWriter-Mayur Have you installed hare rpm before trying to copy the file?
Or maybe you've built it manually from the sources (using `make install`)?

[2021-06-09 11:20] TechWriter-Mayur commented on #1640
@knekrasov Yes, I have installed the RPM using `sudo make install` as suggested: https://github.com/Seagate/cortx-hare#building-from-source.

[2021-06-09 11:21] hessio commented on #1640
Have you installed py-utils?

[2021-06-09 11:23] TechWriter-Mayur commented on #1640
No, the information is not there in the QSG but I have installed `python3 python3-devel`.

[2021-06-09 12:56] knekrasov commented on #1640
@TechWriter-Mayur

Did the command succeed?
Does `/opt/seagate/hare/share` folder exist? What is the output of `ls -lh /opt/seagate/cortx/hare/` command?

[2021-06-09 15:07] knekrasov commented on #1640
@TechWriter-Mayur I believe `make install` didn't actually succeed. Can you re-run it and provide the output here?

[2021-06-09 15:15] TechWriter-Mayur commented on #1640
okay, sure. retrying.

[2021-06-10 04:05] TechWriter-Mayur commented on #1640
Thanks @knekrasov; the solution works. But we need to perform make install in the `hare` directory else it won't work.  The information should be added in the doc. Also, Don't we need to deploy CORTX S3Server for IO operations?

[2021-06-10 04:05] TechWriter-Mayur commented on #1636
@mukul-seagate11 If possible, could you please assign this to an appropriate person. I think the minimum requirements should be same as CORTX OVA installation but we need to check with respective SMEs.

[2021-06-10 09:15] mukul-seagate11 commented on #1636
@suvratjoshi, please check

[2021-06-10 09:43] suvratjoshi commented on #1636
Hello @Saumya-Sunder,
I am trying to understand this requirement well.
We have [this README file](https://github.com/Seagate/cortx-hare/#readme) which acts as a quick setup / start guide for Hare.
And we have [1-node](https://github.com/Seagate/cortx-hare/wiki/Hare-provisioning-for-single-node-deployment) and [3-node](https://github.com/Seagate/cortx-hare/wiki/Hare-provisioning-for-3-node-deployme

[2021-06-10 12:00] shindesuprit1 commented on #1640
@TechWriter-Mayur make install wouldn’t work if not ran in the hare directory itself. If done elsewhere it won’t execute successfully. And if make install is done properly, you’ll surely find the files.

[2021-06-10 14:11] hessio opened #1644 "HARE"

[2021-06-10 14:11] hessio opened #1645 "HARE"

[2021-06-10 14:11] hessio opened #1646 "HARE"

[2021-06-10 14:13] #1646 closed

[2021-06-10 14:14] hessio commented on #1646
Mistake

[2021-06-10 14:19] hessio commented on #1628
I can provide some logs now as I have reproduced the issue

[code]

I am not able to upload the file here so I send it to you on Teams @knekrasov

[2021-06-10 14:53] knekrasov commented on #1628
I believe this will be fixed by #1643 1641

[2021-06-10 15:32] TechWriter-Mayur commented on #1640
@shindesuprit1, thank you so much for your valuable suggestion. The cluster is now up and running but still the IO Services are **offline**. See the attached screenshot. Do we need to deploy CORTX S3Server for IO operations?

![image](https://user-images.githubusercontent.com/64980335/121553630-0fa9ec00-ca2f-11eb-8f5a-f4fb3d1c4c46.png)

[2021-06-10 15:48] knekrasov commented on #1640
@TechWriter-Mayur when ioservice is down, it is definitely not the right situation.
What was the output of your `hctl bootstrap` command?

I guess you saw something similar to #1628 ?

[2021-06-10 16:02] TechWriter-Mayur commented on #1640
@knekrasov yes, it is same issue.and the same output.

[2021-06-10 16:05] shindesuprit1 commented on #1640
Hi @TechWriter-Mayur I guess this issue was addressed by a patch a day before by Konstantin. Just to know, did you try setting up using latest HARE code?
NO, cortx s3 servers deployment isn’t needed for ioservice to be up. Also try out stopping the ioservice manually “systemctl stop 0x72.....1: oxc” and then restarting. If not reboot the node once and bootstrap again. But that’s naive and not reco

[2021-06-10 17:12] knekrasov commented on #1640
@TechWriter-Mayur let's get back to the title issue.

I can see you've managed to run `hctl bootstrap`. Does it mean that your title problem is resolved and the command `cp /opt/seagate/cortx/hare/share/cfgen/examples/singlenode.yaml ~/CDF.yaml` now works fine?

[2021-06-11 04:01] TechWriter-Mayur commented on #1640
@knekrasov yes, this is resolved. I am able to copy the singlenode.yaml file. Also, the cluster is running but the IO services are now in offline status. So I was looking for your assistance on that point.

But, as @shindesuprit1  suggested, I will try to install HARE on fresh set-up as a fix is merged. I will update if, any issue occurs.

[2021-06-11 04:02] TechWriter-Mayur commented on #1645
@hessio can we close this?

[2021-06-11 04:17] TechWriter-Mayur commented on #1636
@suvratjoshi, We are trying to enhance the document readability. So these are the basic requirement that the user wants to know if a community user wants to build a CORTX HARE set-up.  On the HARE QSG, we are not specifying any of the requirements. We are looking for a basic requirement like, which OS and its version CORTX Supports, what are memory, storage, and processor requirements CORTX has. D

[2021-06-11 06:25] suvratjoshi commented on #1636
@TechWriter-Mayur,
The requirement says `Information required for Hare QSG`
`We need the following information to make the Hare Quickstart Guide more accurate and Community friendly.`
But from your reply, it looks that, this is not Hare component specific ask, but the requirements for Cortx software.

Let me try to explain :
`So these are the basic requirement that the user wants to know if a comm

[2021-06-11 10:51] Saumya-Sunder commented on #1636
@suvratjoshi for a stat, could you look at the OVA document and let me know if the config is good to go with? If anything is missing, please let me know. Please also let us know what are the dependencies in terms of installs and components by reading the current Hare guide. Would that help?

[2021-06-11 13:37] #1645 closed

[2021-06-11 14:00] vaibhavparatwar commented on #1636
@Saumya-Sunder please refer this document for configuration required for VMs if you are doing release build creation.
https://github.com/Seagate/cortx/blob/main/doc/Release_Build_Creation.rst#prerequisites-to-setup-virtual-machine

For OVA this is the link
https://github.com/Seagate/cortx/blob/main/doc/CORTX_on_Open_Virtual_Appliance.rst#cortx-on-open-virtual-appliance

cc @NeeravChoudhari  @ujjwa

[2021-06-11 14:44] Saumya-Sunder commented on #1636
Hey @vaibhavparatwar @NeeravChoudhari @ujjwalpl @suvratjoshi I hope this would make better sense:
https://github.com/Seagate/cortx-management-portal/blob/main/docs/CortxManagementPortalQuickstart.md

This is how I want to structure the QSG. If this does not clarify your doubts, then let's get on a call?

[2021-06-14 07:22] vaibhavparatwar commented on #1644
I this this ticket is empty and can be closed as no work

[2021-06-14 10:33] Saumya-Sunder commented on #1636
Hey @vaibhavparatwar, thanks for giving me the input today. As per our discussion, I will update the guide and update you on the same.

[2021-06-14 11:58] #1644 closed

[2021-06-14 11:59] #1374 closed

[2021-06-14 12:05] vaibhavparatwar commented on #1640
@TechWriter-Mayur  I am closing title issue now as its working for you.

[2021-06-14 12:05] #1640 closed

[2021-06-14 12:07] vaibhavparatwar commented on #1621
@yanqingfu  were you able to succeed with above steps given?

[2021-06-15 06:00] vaibhavparatwar commented on #1506
@somnathbghule You can ignore those "Usage: grep" messages if resulting yaml file in /tmp folder is created.
We are tracking this as a minor bug as its not breaking functionality.

[2021-06-18 09:19] TechWriter-Mayur opened #1656 "Unable to create HARE rpm using make command"
Unable to create hare rpm using make command:

[code]

[2021-06-18 09:26] knekrasov commented on #1656
@TechWriter-Mayur I believe you didn't install cortx-py-utils.

[2021-06-18 09:36] TechWriter-Mayur commented on #1656
@knekrasov it is installed, I have run the following to install as suggested in the doc:
`sudo yum -y install yum-utils `

[2021-06-18 09:46] knekrasov commented on #1656
No, `yum-utils` and `cortx-py-utils` are different things. `cortx-py-utils` is an RPM built on the top of https://github.com/Seagate/cortx-utils/ repository. At Seagate Jenkins there are built RPMs that you can take and install.

In case the user doesn't have the access to Seagate RPMs, (s)he will have to build the RPM manually from the sources.

But the problem you're observing is caused by missi

[2021-06-18 10:05] TechWriter-Mayur commented on #1656
oh okay. Let me install the CORTX-utils. But, we need to add this in doc also if it is required.

[2021-06-18 10:18] knekrasov commented on #1656
Yes, good point. In fact, I already have a PR for that #1595
It's time to merge it..

[2021-06-18 10:36] TechWriter-Mayur commented on #1656
The issue is fixed as per the provided instruction. Hence, closing this issue.

[2021-06-18 10:36] #1656 closed

[2021-06-20 13:01] yanqingfu commented on #1621
will try later

[2021-06-21 03:25] kiwionly2 opened #1658 "Fail to run make"
Hi,

I had follow the instruction on how to build cortx-hare, however, I encounter error below:

[code]

I had build cortx-motr, not sure if I miss out anything ? Do hare got any specific hardware requirement ?

[2021-06-21 04:25] vaibhavparatwar commented on #1636
@Saumya-Sunder can we close this ticket now?

[2021-06-21 07:32] vaibhavparatwar commented on #1333
I think we can close this now? @mukul-seagate11 @xahmad ?

[2021-06-21 08:28] knekrasov commented on #1658
@kiwionly2 It seems like you didn't install cortx-py-utils.

Please check #1658 and #1595

[2021-06-21 09:59] #1333 closed

[2021-06-21 10:19] knekrasov commented on #1333
Was the issue resolved?

[2021-06-21 12:53] #1621 closed

[2021-06-21 13:06] mengwanguc opened #1659 "group 'hare' does not exist"
Hello,

I followed Hare installation instructions. However, after "sudo make install", when I tried to add current user to "hare" group, I got the following output:

[code]

Looks like "sudo make install" didn't create "hare" group, but I suppose it should? (just assumption)

Is it a big problem?
(Though I didn't manage to add current user to "hare" group, I can still bootstrap the cluster and per

[2021-06-21 13:38] Saumya-Sunder commented on #1636
Yes, thanks for setting up the time to resolve this.

[2021-06-21 13:38] #1636 closed

[2021-06-21 13:43] hessio commented on #1659
Hi @mengwanguc no this is not a big issue, I personally am not sure what this is used for as I have not been able to get this command to complete either. @knekrasov can you help with what this command does, is it necessary?

[2021-06-21 17:26] mengwanguc opened #1660 "No package cortx-py-utils available"
In the Hare installation instructions, it asks us to install py-utils using `sudo yum -y install cortx-py-utils`.

However, it doesn't work on my side:
[code]

Looks like that's not the correct way to install cortx-py-utils.

I think the correct way will be following the instructions here:
https://github.com/Seagate/cortx-utils/blob/main/py-utils/README.md

I can submit a PR to correct this issue.

[2021-06-21 17:54] daniarherikurniawan commented on #1659
Just a quick note, a few months ago this problem did not occur. Back then, the guideline use `sudo make devinstall` instead of `sudo make install`.
I am not sure what is the effect of not having the `hare` group, but I believe it is needed for managing the right access so that only users in `hare` group can manage CORTX cluster through hare.

[2021-06-21 18:05] daniarherikurniawan commented on #1659
After a bit of digging, turns out only `devinstall` has `@groupadd --force hare` which is creating hare group for some reasons.
Since the current guideline use `make install`, I believe the `sudo usermod --append --groups hare $USER` is **not** needed and should be removed from the docs.

[2021-06-21 18:06] mengwanguc commented on #1659
I will get permission issues if I run "m0cp" as current user. But I won't have problem if I run everything as root user.

[2021-06-21 20:18] daniarherikurniawan commented on #1659
With respect to the Quickstart checklist: `5.  <user> is a member of hare group ..`, perhaps we do need to create the hare group manually, or add `@groupadd --force hare`  on the make file (`make install`). We can create a PR if this is the correct solution.

[2021-06-21 20:56] daniarherikurniawan opened #1661 "Error: YAML file error: MOTR_CONFIG section is missing"
Hi guys, I am following the readme to install Hare. When I run `sudo m0crate -S /tmp/m0crate-io.yaml`, I got this error:

I attached my /tmp/m0crate-io.yaml
[m0crate-io.txt](https://github.com/Seagate/cortx-hare/files/6689450/m0crate-io.txt)

Let me know if you guys know how to fix the yaml file. I believe there is no problem with m0crate itself.

Thanks

[2021-06-21 22:58] daniarherikurniawan opened #1664 "Is cortx-motr-tests-ut-*.rpm needed?"
I am following the readme to install Hare. The `scripts/m0 make rpms` will generate 5 rpms inside `~/rpmbuild/RPMS/x86_64/`. One of the rpm is `cortx-motr-tests-ut-2.0.0-*.el7.x86_64.rpm` which can't be installed. When we run `sudo rpm -ivh ~/rpmbuild/RPMS/x86_64/cortx-hare-*.rpm`, it will generate this error
[code]

Which in turn will prevent the installation of the other 4 RPMs.

So, what is the

[2021-06-21 23:03] daniarherikurniawan opened #1665 "Facter >= 3.14.8 is needed by cortx-hare"
I am following the readme to install Hare, and when I run `sudo rpm -ivh ~/rpmbuild/RPMS/x86_64/cortx-hare-*.rpm`, I got this error:
[code]

I haven't found a way to satisfy that requirement. Also, according to this https://pkgs.org/download/facter, the most up-to-date facter is at version 3.14.2. Is that specific version is crucial? and how to correctly install that package?

Thanks

[2021-06-22 04:24] suvratjoshi commented on #1659
I think we need to modify page https://github.com/Seagate/cortx-hare/blob/main/README.md and replace `make install` with `make devinstall`.
I think currently this `make install`  instruction is there, as previously there were some issues with `make devinstall` and we were not able to merge the related PR to main branch as it was locked.
Right @knekrasov ?

[2021-06-22 09:41] hessio commented on #1660
Yes I think you are right I will create this PR now, thanks @mengwanguc

[2021-06-22 13:19] knekrasov commented on #1659
@suvratjoshi `make devinstall` is intended to be used by the developers. In this case it is easier to debug as long as the changes get 'deployed' automatically, there is no need to rebuild Hare and reinstall it. I don't think that this is the most-used use case for those who'll read README.md file.

I'm not really sure that `hare` group is really required to run Hare. So probably there is a discre

[2021-06-22 13:55] vaibhavparatwar commented on #1665
This issue has already been worked on. Its going to be fixed soon. Thanks @daniarherikurniawan already PR is in review

[2021-06-22 13:56] vaibhavparatwar commented on #1664
@pavankrishnat pls make necessary changes in README.

[2021-06-22 14:00] daniarherikurniawan commented on #1659
@suvratjoshi, @knekrasov, I believe we need to update the Readme to avoid further confusion when the public follows the instructions. I am currently interning under John Bent supervision, and my main task is to find out any possible problem/bug related to all CORTX's readme.

Let us know the preferable solution, and we can make the PR for it. Thanks

[2021-06-22 14:03] vaibhavparatwar commented on #1659
@daniarherikurniawan - we are looking in to this. @mssawant will let us know what can be done here.. if change is required in README or we do not need to use this step of creating hare group. Thank you for contributing.

[2021-06-22 14:35] daniarherikurniawan commented on #1665
Thanks! I will close this issue now.

[2021-06-23 03:40] vaibhavparatwar commented on #1661
@knekrasov any idea about this ?

[2021-06-23 04:40] pavankrishnat commented on #1661
Hi @daniarherikurniawan,

Looks like there is some problem with m0crate file. I tried same at my end, it ran successfully without any error. Here is my output attached.
`
[root@ssc-vm-5571 ~]# hctl bootstrap --mkfs ~/cluster.yaml
2021-06-23 03:56:34: Generating cluster configuration... OK
2021-06-23 03:56:37: Stopping Consul on this node... OK
2021-06-23 03:56:53: Stopping Consul on other nodes...

[2021-06-23 07:19] kiwionly2 commented on #1658
@knekrasov

Do` cortx-py-utils` available from RPM instead of build from `cortx-utils` ?

Instead of build `cortx-hare`, now I am try to solve the issue of building `cortx-utils` instead :(

[2021-06-23 07:41] kiwionly2 commented on #1658
@knekrasov

I had manage to successfully install after solving cortx-py-utils issues.

thank !

[2021-06-23 07:41] #1658 closed

[2021-06-23 09:43] kiwionly2 commented on #1660
Also solve for issue #1658

[2021-06-24 08:46] vaibhavparatwar commented on #1660
Closing this as PR is merged to main.

[2021-06-24 08:46] #1660 closed

[2021-06-24 08:49] vaibhavparatwar commented on #1637
@mssawant @knekrasov see if we need to create a JIRA ticket for this and take this up on priority.

[2021-06-24 10:05] pavankrishnat commented on #1664
Yes @daniarherikurniawan we can remove `cortx-motr-tests-ut-2.0.0-*.el7.x86_64.rpm` and install other rpms

[2021-06-24 10:38] vaibhavparatwar commented on #1661
@daniarherikurniawan are you still facing this?

[2021-06-24 16:26] daniarherikurniawan commented on #1664
@vaibhavparatwar @pavankrishnat , I made this PR https://github.com/Seagate/cortx-hare/pull/1672 to address this. Feel free to close the PR if you have another solution. Thanks!

[2021-06-24 22:22] daniarherikurniawan commented on #1665
I am reopening this issue since the issue hasn't been solved.

[2021-06-24 22:32] daniarherikurniawan commented on #1661
@vaibhavparatwar, @pavankrishnat  I guess this error is related to this [prerequisite](https://github.com/Seagate/cortx-hare#quick-start) "`3 | cortx-hare and cortx-s3server RPMs are installed | all machines`".

However, now I am blocked by another issue (https://github.com/Seagate/cortx-hare/issues/1665) that prevents me from deploying `hare` RPMs. Please approve the PR that will address that pro

[2021-06-25 00:48] vaibhavparatwar commented on #1661
@daniarherikurniawan I think ideal document for hare deployment on single node VM is this one - https://github.com/Seagate/cortx-hare/wiki/Hare-provisioning-for-single-node-deployment - Here all the pre-requisits are mentioned and links to all the required README's / QSGs are mentioned. s3server is mentioned in this document as pre-requisit, but I think to start hare cortx-s3server RPMs are option

[2021-06-25 00:50] vaibhavparatwar commented on #1665
@daniarherikurniawan  yes this PR is still under review from hare side cc @mssawant

[2021-06-25 13:04] daniarherikurniawan commented on #1661
@vaibhavparatwar,  Thanks for the suggestion. I will try that link out.

In my case, I was following the main CORTX  quick start (https://github.com/Seagate/cortx/blob/main/QUICK_START.md) => `3. Build just the block storage layer (motr) from the source` => `ii. Run it across a cluster: ` => then there is a link to `Install HARE` that points to hare's README.

I am hoping that we can make hare's R

[2021-06-25 13:38] vaibhavparatwar commented on #1664
@daniarherikurniawan lets use this PR https://github.com/Seagate/cortx-hare/pull/1681 for this issue as we do not want to remove some files which are created by make files. Here we are handling using the command and installing rpms other than cortx-motr-test *.rpms.

[2021-06-25 13:40] daniarherikurniawan commented on #1664
@vaibhavparatwar  Okay, that would work! :)
I will close another PR.

[2021-06-25 14:26] vaibhavparatwar commented on #1661
@daniarherikurniawan regarding s3server rpms - if we have non-zero s3 instances mentioned in CDF file, then we need s3server rpms as well.

[2021-06-25 14:42] daniarherikurniawan commented on #1661
@vaibhavparatwar  That totally makes sense! I believe we should add that information in the Hare Readme. For a newbie like me and all other future CORTX developers, we must know that the S3 is not required by hare unless it is mentioned in the CDF file.

[2021-06-25 17:25] andriytk opened #1682 "Client application startup is very slow"
On the SAGE cluster with 23 nodes (7 server and 16 client nodes with 16 m0_client processes configured each) the startup of any client application (c0cp or mcp) takes about 20-30 seconds. And the more m0_client processes are configured - the more time it takes to start up. (That's why the number of configured m0_client processes is limited to 16 atm.)

See attached [m0trace.19259.txt.zip](https://

[2021-06-25 17:29] andriytk commented on #1682
@mssawant, @knekrasov any idea why `Preparing the reply for HaNvecGetEvent` takes so much time?

[2021-06-29 10:24] vaibhavparatwar commented on #1664
Closing this updated README with the link to motr QSG for building & installing Motr rpms

[2021-06-29 10:24] #1664 closed

[2021-06-29 10:30] vaibhavparatwar commented on #1659
PR for this created by @daniarherikurniawan  has been merged in to main README. closing this.

[2021-06-29 10:30] #1659 closed

[2021-06-30 16:04] daniarherikurniawan commented on #1661
@pavankrishnat , could you give me some hints on how to test the m0crate? to make sure that m0crate is performing as expected, is there any simple unit test? Thx!

[2021-06-30 16:43] daniarherikurniawan commented on #1661
Great news.. :)
I solved the problem by doing these:
1. Addressing the `facter >= 3.14.8` requirements by changing that into just `facter` at `hare.spec`
2. Debug my `m0crate-io.yaml`, thanks to @pavankrishnat for the attached trace.
3. Restart the cortx modules completely by utilizing `lsmod` and then kill one by one in order.
4. Start the hare by running `hctl bootstrap ...` or `hctl start`.

Ou

[2021-06-30 16:43] #1661 closed

[2021-07-27 15:22] max-seagate opened #1722 "A warning regarding await keyword"
I see the following warning during `make`:
[code]

[2021-07-28 08:48] knekrasov commented on #1682
@andriytk

I think the reason is that this preparation caused more than 3000 separate read requests to Consul KV.

Here are some details:

This is the handler method:
[code]
According to the log you provided, the nvec length is 1024. So the loop above had 1024 iterations; `self.consul_util.get_conf_obj_status()` was invoked that many times.

If we go down to `get_conf_obj_status()`, we'll see 2 ex

[2021-07-28 08:55] andriytk commented on #1682
@knekrasov thanks for this analysis! Yes, I noticed that consul and hax would consume a lot of CPU during this time.

Am I correctly understand that the single process performance is not improved in the new Hare code?

[2021-07-28 09:06] knekrasov commented on #1682
I'm not sure I understand what "single process" means.

The optimization that #1612 is as follows: If we have 2 HaNvecGet, the second HaNvecGet may be processed earlier, than the first one is fully processed. In general case, Hax will parallelize all Motr-related tasks unless they don't "conflict" (sometimes they do and then ordering takes place).

That means that if you have a heavy HaNvecGet, th

[2021-07-28 09:10] andriytk commented on #1682
Sorry for confusion, I meant single client. Got it.

I think we need to optimise the single HaNvecGet processing as well somehow. This is what this issue is about.

[2021-07-28 10:09] knekrasov commented on #1682
I think it is feasible but this requires a good design. I would suggest to start thinking about a query DSL (similar to DOM manipulation API that jQuery has). The DSL can describe (in an FP manner) _what_ we want to do with KV and _how_ do we want to traverse the KV tree. The executor of such a DSL can optimize the amount of KV calls - just like RDBMS do - because the whole query is visible in a s

[2021-07-28 11:43] andriytk commented on #1682
@knekrasov I see that `get_conf_obj_status()` and `get_service_process_fid()` already do the recursive queries on `m0conf/nodes`. So calling them in the loop for each cluster entity (`note.no_id`) is very expensive.

Can we instead make the recursive query one time outside these functions and pass `node_items` as a parameter to them?

[2021-07-28 14:29] mssawant commented on #1682
@andriytk, @knekrasov, yes, presently more number of Consul requests are generated because we have individual keys per object instead of a list as the values for a given parent. So we fetch all the keys related to a given object and then parse the result to filter out the ones not needed. Have created a ticket sometime back to optimize the KV structure a bit by having list of object as values for

[2021-07-28 15:34] knekrasov commented on #1682
@mssawant Please be careful with such decisions 😄 What you described is a de-normalization. Which is a risk for rolling upgrade. [As you remember](https://seagate-systems.atlassian.net/wiki/spaces/PUB/pages/412385285/25+KVROLL+Strategy+of+Consul+KV+schema+evolution+supporting+zero-downtime+rolling+upgrades), for seamless rolling upgrades it is safer to prefer individual keys with atomic values to

[2021-07-28 20:22] mssawant commented on #1682
@knekrasov, Yeah, updating schema is one part but as you and @andriytk pointed out, we have too many recursive consul calls to `m0conf/nodes`. I did try to capture the paths and functions, I temporarily added a wrapper call to fetch `m0conf/nodes` keys to help find the callers and there seem to be a lot but the paths mostly are through `broadcast_ha_states()` (and few others).
[code]
We need to su

[2021-08-02 17:50] johnbent commented on #1665
@vaibhavparatwar , what is the status of this please?  @madhavemuri , do you know anything about this?

[2021-08-02 18:03] madhavemuri commented on #1665
I think docker release repo build (available to community as well) provides ../3rd_party/hare-uploads/puppet-agent-6.13.0-1.el7.x86_64.rpm, using which hare can be installed without this Facter issue.

@vaibhavparatwar @johnbent : ^

[2021-08-03 06:44] mssawant commented on #1682
@andriytk, @knekrasov kindly review  https://github.com/Seagate/cortx-hare/pull/1737 as time permits.

[2021-08-04 11:09] andriytk opened #1741 "Dynamic pools to be added"
Hare should allow to add/remove pools with different disks/nodes to/from the configuration dynamically without restarting the cluster. The request came from IO-SEA project, but it will be beneficial for Lyve Cloud as well to be able to grow the cluster online.

[2021-08-04 11:13] knekrasov opened #1742 "[Mini Provisioner] Sample files don't use dix pool type"
@knekrasov
I think it would be nice to add 1 dix pool as well to all the sample files.
Currently we just have sns.
Thanks!

_Originally posted by @suvratjoshi in https://github.com/Seagate/cortx-hare/issues/1739#issuecomment-892536417_

[2021-08-04 19:16] darkryder commented on #1665
@madhavemuri Can you please point me to this docker release repo build? I've been struggling w/ the same problem.

[2021-08-04 19:57] johnbent commented on #1665
Hey @darkryder .  @andriytk has worked hard to make motr available as a more easily testable release.  You might take a look at [https://github.com/Seagate/cortx-motr/releases/tag/untagged-624b9349bbd4914f0ba5](https://github.com/Seagate/cortx-motr/releases/tag/untagged-624b9349bbd4914f0ba5) which might be an easier way to get you up and running.  Oh, that might only work for single node though; I

[2021-08-04 20:07] darkryder commented on #1665
Hi @johnbent, thanks for pointing it out. Unfortunately, that link 404s for me. Also, `624b9349bbd4914f0ba5` doesn't seem like an accessible commit in the cortx-motr directory(at least publicly). Can you please verify this? I wonder if github has a notion of private releases.

The latest one I see is [CORTX-OVA-2.0.0-264](https://github.com/Seagate/cortx-motr/releases/tag/CORTX-OVA-2.0.0-264).

[2021-08-04 22:02] andriytk commented on #1665
@darkryder , try this one - https://github.com/Seagate/cortx-motr/releases/tag/ova-centos79

[2021-08-04 22:46] johnbent commented on #1665
Thanks both!  Not sure where that came from.  Fixing it in the parent quick start guide too.  :)

[2021-08-05 07:03] madhavemuri commented on #1665
https://github.com/Seagate/cortx/blob/main/doc/community-build/Generate-Cortx-Build-Stack.md
Centos 7.9 docker image too is available at https://github.com/Seagate/cortx/pkgs/container/cortx-build
They are being used for io stack rpm (generated through docker ... make io-stack) installation in perfline and are working fine without this issue.

[2021-08-10 14:08] kiwionly2 opened #1751 "Error mkdir: cannot create directory 'vendor': Permission denied when running sudo make install"
Hi, I encounter an error when running

`sudo make install` for hare

![image](https://user-images.githubusercontent.com/77140436/128881615-c26ac68a-1b9d-4ebb-943e-92b6bfb046d8.png)

any idea?

[2021-08-11 20:51] daniarherikurniawan commented on #1665
Thank you guys! I closed this issue because @vaibhavparatwar PR solved it!

[2021-08-11 20:51] #1665 closed

[2021-08-16 13:03] hessio commented on #1751
Hi @kiwionly2 just checking to see if I can close this issue?

[2021-08-16 14:43] kiwionly2 commented on #1751
Hi hessio, seem like I miss out your message.

I follow the [README](https://github.com/Seagate/cortx-utils/blob/main/py-utils/README.md) guide to install py-utils, some how I not sure is it install success.

I try to verify as follow:

![image](https://user-images.githubusercontent.com/77140436/129581925-02210e84-1915-4f57-97df-bc112630c9c0.png)

but seem like no luck.

Any hint for py-utils inst

[2021-08-16 14:44] hessio commented on #1751
You need to use python3 instead of python

[2021-08-16 14:50] kiwionly2 commented on #1751
Ok, look good.

![image](https://user-images.githubusercontent.com/77140436/129582745-0d341e62-4caf-4456-97bc-39cfd30fda18.png)

However I still encounter the same error when try to run `sudo make install` on hare. When run `make` everything ok.

![image](https://user-images.githubusercontent.com/77140436/129583213-cd2f1c62-9467-4f1c-9f64-2dccd2313a3a.png)

[2021-08-16 14:59] hessio commented on #1751
I think you need to use the /root directory because of the rules of the Seagate ssc vm's. There is something called `root_squash NFS server`, if you search that you can try to understand what this is. Run `df` to see whether your home dir is on NFS mount or not.

[2021-08-17 03:58] kiwionly2 commented on #1751
For ssc vm, it is should all be NFS.

After `df` I saw something like `ssc-nfs-home1.colo.seagate.com:/home/<gid>` which mount to /home/<gid>.

I switch to root to `make` and `sudo make install`, and it had running successfully.

Thanks !

[2021-08-17 03:58] #1751 closed

[2021-08-17 09:48] hessio commented on #1751
Yes exactly you cannot run the `make` and `sudo make install` from one of these directories `ssc-nfs-home1.colo.seagate.com:/home/<gid>` that is why it works when you switch to `/root`

[2021-08-19 04:40] vaibhavparatwar commented on #1628
@hessio could you verify if this has been fixed? cc @knekrasov @mssawant

[2021-08-19 05:01] vaibhavparatwar commented on #1742
@suvratjoshi can we add dix pool parameters in template files as part of EOS-16272 PR?

[2021-08-19 05:06] vaibhavparatwar commented on #1302
@knekrasov is this issue still valid?

[2021-08-19 05:08] cortx-admin commented on #1519
Already taken as a story task

[2021-08-19 05:08] cortx-admin commented on #1519
Duplicated.

[2021-08-19 05:16] suvratjoshi commented on #1742
Yes right.
I was already about to do that. :)

[2021-08-19 07:20] knekrasov commented on #1302
@vaibhavparatwar In fact, yes. SNS operations were implemented but not officially supported by current version of CORTX. Once we get back to this feature, this problem will have to be resolved somehow.

[2021-08-19 12:11] hessio commented on #1628
Yes this is no longer causing issues.

[2021-08-19 12:38] #1628 closed

[2021-08-19 12:43] cortx-admin commented on #1628
.

[2021-08-19 12:43] cortx-admin commented on #1628
Resolving and verifying as per comments from reporter in github
https://github.com/Seagate/cortx-hare/issues/1628#issuecomment-901863109

[2021-08-19 12:43] cortx-admin commented on #1628
.

[2021-08-23 20:34] suvratjoshi commented on #1742
In review :
PR : https://github.com/Seagate/cortx-hare/pull/1651

[2021-08-23 20:56] cortx-admin commented on #1742
Patch for these dix pool related additions to sample files, is combined with aux pools' PR :
https://github.com/Seagate/cortx-hare/pull/1651

Thanks!

[2021-08-25 04:11] suvratjoshi commented on #1742
The PR #1651 is merged to fault_tolerance branch, which included changes for this request as well.
This issue is covered using JIRA ticket https://jts.seagate.com/browse/EOS-23822
Marking this issue as resolved.
Thanks!

[2021-08-25 04:11] #1742 closed

[2021-08-25 04:23] cortx-admin commented on #1742
PR https://github.com/Seagate/cortx-hare/pull/1651 is merged to fault_tolerance branch.
Thanks!

[2021-08-25 05:06] cortx-admin commented on #1742
Verified by deploying and test (TEST-26881) *PR#1651*

[Custom-CI#2560|http://cortx-storage.colo.seagate.com/releases/cortx/github/integration-custom-ci/centos-7.8.2003/custom-build-2560]

[2021-09-05 14:36] hessiotest opened #1779 "RuntimeError: Unsupported facter version found at node localhost: 2.4.1 . Please use 3.14.8 or higher."
When I try to bootstrap my single node cluster I get this error:

`[root@localhost hare]# hctl bootstrap --mkfs ~/CDF.yaml
2021-09-05 10:32:53: Generating cluster configuration...Traceback (most recent call last):
  File "/opt/seagate/cortx/hare/bin/../bin/cfgen", line 2164, in <module>
    main()
  File "/opt/seagate/cortx/hare/bin/../bin/cfgen", line 216, in main
    enrich_cluster_desc(cluster_

[2021-09-06 03:57] vaibhavparatwar commented on #1779
@hessiotest please refer README in which puppet agent installation (required version) steps are given which in turn will instal required facter version..
![image](https://user-images.githubusercontent.com/65211391/132158657-650d81db-5969-4dc7-b7cc-3b9297bce923.png)

https://github.com/Seagate/cortx-hare#readme
Please let me know if it helps

[2021-09-06 10:22] hessio commented on #1779
Yes I followed the steps correctly and then I tried the previous commit before this one and the installation worked for me. I think we need to roll back this commit.

[2021-09-06 10:43] vaibhavparatwar commented on #1779
@hessio This commit was made for some reason. I think one more change we need to do is add a step in readme which will check if already Facter is installed and if yes, what version. If its lesser than 3.14.8 then, we need to remove existing older version.

[2021-09-06 11:02] hessio commented on #1779
Oh ok cool, we can do this, but maybe we revert this commit until it is working completely? Because if you follow the guide as is now you will get an error, what do you think?

[2021-09-06 11:21] vaibhavparatwar commented on #1779
Actually the issue comes only on the systems where the facter is already installed .. so its not that it fails 100% of the time.. @pavankrishnat  already started working on making changes to README. let me know if that helps?

[2021-09-06 13:58] hessio commented on #1779
Ok but it doesn't work right now

[2021-09-07 02:47] vaibhavparatwar commented on #1779
@hessio  https://github.com/Seagate/cortx-hare/pull/1781 this PR is raised for the issue. I think you already have tested it with @pavankrishnat . Thanks.

[2021-09-08 17:15] mengwanguc commented on #1779
I'm having the same problem.

In my case, my machine doesn't have `facter` pre-installed. But facter 2.4.1 was installed during the installation of motr.

Also, puppet agent installation doesn't install facter for me. @vaibhavparatwar

[2021-09-08 17:17] mengwanguc commented on #1779
Hi @hessio , what's the commit that you used to successfully install hare?

[2021-09-08 19:57] mengwanguc commented on #1779
It turns out that facter was installed in `/opt/puppetlabs/bin/facter` after the installation of puppet.
Therefore, I have to do the link in order to use the latest facter:

`ln -s /opt/puppetlabs/bin/facter /usr/bin/facter`

[2021-09-10 14:34] hessio commented on #1779
Hi @mengwanguc so you need to uninstall facter using these commands:

[code]

Then you do the command in the README to install facter. Here is the command:

[code]

Then you need to create the softlink:

[code]

Once this is done it should work for you. This is the process I used to resolve the issue. Please let me know if this works for you.

[2021-09-10 15:56] mengwanguc commented on #1779
Hi @hessio , thanks!

Yes, that's exactly what I did to resolve the issue.

I think what is missing from the PR #1783 is the linking step:

`ln -s /opt/puppetlabs/bin/facter /usr/bin/facter`

I did struggled for hours in order to figure this out. Perhaps @vaibhavparatwar should add this linking step to the PR.

[2021-09-13 18:52] johnbent opened #1789 "/opt/seagate path is available outside of seagate?"
Hello,

In [https://github.com/Seagate/cortx-hare/blob/main/README.md,](https://github.com/Seagate/cortx-hare/blob/main/README.md,) it says that '/opt/seagate/cortx/hare/bin is in \<user>'s PATH'. If someone does not have this in their path, how can they add it to the path?

Thanks,

[2021-09-14 12:38] hessio commented on #1789
Well my understanding is that if you don not have this file in that path when you get to this step then you have completed the steps above correctly, so maybe we can say this as a note in the guide?

[2021-09-14 13:52] cortx-admin commented on #1779
https://github.com/Seagate/cortx-hare/pull/1783

[2021-09-14 15:31] lia54 opened #1791 "Problem for building and installing Hare"
I am trying to setup a CORTX cluster and I tried to build and install HARE following the Hare User Guide from this link: https://github.com/Seagate/cortx-hare and I am getting stuck in the build and install section.
The error comes when trying to run the sudo make install command, I am getting permission error when trying to access a file inside /opt/seagate/cortx directory even when using sudo pe

[2021-09-14 15:42] hessio commented on #1791
Can you post the issue you are getting? Usually what happens is that when the installation is not completed this file is not created.

[2021-09-14 15:54] hessio commented on #1791
Also are you using a Seagate SSC VM ? This can cause an issue too if you are not running the VM as root? and if you are can you send me the ip address so I can log in to and have a look?

[2021-09-14 15:54] hessio commented on #1791
Also are you using a Seagate SSC VM ? This can cause an issue too if you are not running the VM as root? and if you are can you send me the ip address so I can log in to and have a look?

[2021-09-14 16:31] lia54 commented on #1791
I am not using a VM right now. I am running on a Seagate HW server.
This is the error I am getting after running $make install on the hare folder.
![permission_error](https://user-images.githubusercontent.com/28118432/133297382-13e1208e-19c4-4a05-955d-4c7185419507.PNG)

[2021-09-14 16:32] lia54 commented on #1791
After running with sudo I am getting Permission Denied for the Makefile as well.

[2021-09-14 16:36] knekrasov commented on #1791
@lia54 Both `make install` and `make devinstall` require root access (because both of the commands will write to `/opt/seagate` and to other system folders.

Can you post your command and the output, please?

I know that at SSC VMs home folder is a mounted NFS drive, where root user is not able to write to. Is your home folder also a mounted drive?

[2021-09-14 16:47] lia54 commented on #1791
@knekrasov I tried with sudo and this is the error I am getting
![permission_denied](https://user-images.githubusercontent.com/28118432/133298650-77f5259a-11df-4b1b-949b-2dd54f531151.PNG)
even though I have executable permission for the Makefile.

-I know that at SSC VMs home folder is a mounted NFS drive, where root user is not able to write to. Is your home folder also a mounted drive?

Yes, my

[2021-09-15 07:38] knekrasov commented on #1791
@lia54 It's an infrastructural problem then, not a software issue.

As a workaround, please try to build cortx-hare outside of your home folder (so that `sudo` will be permitted).
For instance:
1. `sudo mkdir -p /mnt/projects`
2. `sudo chown -R $(id -u) /mnt/projects`
3. `cd /mnt/projects`
4. Clone cortx-hare and cortx-motr and build cortx-hare

[2021-09-15 10:32] hessio commented on #1791
Oh ok so then this is the issue I believe, you will need to do `sudo su -` this will allow you change to root user from there if you run the commands this should work.

[2021-09-15 15:29] lia54 commented on #1791
Thank you @knekrasov!
I was able to build and install cortx-motr and hare in the /mnt/projects folder as you suggested.
Thanks @hessio for your help as well!

[2021-09-15 17:08] andriytk opened #1794 "cfgen: wrong md and dix pools with client nodes in CDF"
When pure client nodes are present in the cluster configuration (which do not have `m0_servers` section), cfgen generates invalid tolerance vector and invalind parameters for dix and md pools, so that `m0mkfs` fails:

[code]

Here is the CDF example:

[code]

Here are the pool versions generated:

[code]

Compare with the pool versions of the singlenode cluster configuration:

[code]

Looks like t

[2021-09-16 11:05] andriytk commented on #1794
I'd ask @mssawant about this.

[2021-09-17 18:13] #1779 closed

[2021-09-21 04:48] cortx-admin commented on #1779
.

[2021-09-21 04:48] cortx-admin commented on #1779
.

[2021-09-22 16:13] andriytk opened #1802 "Motr panic: (!pver->pv_is_dirty) at m0_cs_dix_setup() motr/setup_dix.c:347"
I'm still seeing the same issue on the latest commit e1cfc7b:

[code]

_Originally posted by @andriytk in https://github.com/Seagate/cortx-hare/issues/1654#issuecomment-925077531_

[2021-09-23 11:16] andriytk commented on #1794
Fixed at https://github.com/Seagate/cortx-hare/pull/1797.

[2021-09-23 11:16] #1794 closed

[2021-09-28 20:25] andriytk commented on #1802
Happened again. Here is the system log - [sage-t31-mkfs-panic-sys.log.gz](https://github.com/Seagate/cortx-hare/files/7247059/sage-t31-mkfs-panic-sys.log.gz).

[2021-10-04 13:24] cortx-admin commented on #1794
As per comment its now fixed. So closing the issue.

[2021-10-04 13:24] cortx-admin commented on #1794
.

[2021-10-04 13:24] #1791 closed

[2021-10-04 13:24] cortx-admin commented on #1791
As per comments, closing this as this is resolved now.

[2021-10-04 13:24] cortx-admin commented on #1791
.

[2021-10-04 13:24] cortx-admin commented on #1791
.

[2021-10-04 14:47] andriytk commented on #1794
It was already closed 11 gays ago! :)

[2021-10-04 15:08] vaibhavparatwar commented on #1794
@andriytk  yes in github it was but in JIRA it wasn't. I just closed it in JIRA :)

[2021-10-04 21:51] andriytk opened #1820 "hax/ha/events.py:23: error: Skipping analyzing "cortx.utils.message_bus": found module but no type hints or library stubs"
When building on CentOS 8:

[code]

VM to reproduce can be taken from here - https://github.com/andriytk/cortx-motr/releases/tag/centos83ova.

[2021-10-05 16:23] knekrasov commented on #1820
Hi @andriytk, I tried to reproduce the issue at Centos 7.9 against the freshest cortx-py-utils but everythin went smoothly.

Unfortunately I don't have VBox installed where I can run your ova image to debug deeper. Maybe you have a machine where I can ssh to?

Do you use cortx-hare from main branch, BTW?

[2021-10-05 17:26] andriytk commented on #1820
Yes, from the latest main branch.

[2021-10-12 17:30] andriytk opened #1830 "hax TypeError: Object of type StobIoqError is not JSON serializable on disk failure"
{noformat}
Oct 12 19:27:44 sage-tier3-1 kernel: sd 0:0:12:0: [sdl] tag#17 FAILED Result: hostbyte=DID_OK driverbyte=DRIVER_SENSE cmd_age=4s
Oct 12 19:27:44 sage-tier3-1 kernel: sd 0:0:12:0: [sdl] tag#17 Sense Key : Medium Error [current] [descriptor]
Oct 12 19:27:44 sage-tier3-1 kernel: sd 0:0:12:0: [sdl] tag#17 Add. Sense: Unrecovered read error
Oct 12 19:27:44 sage-tier3-1 kernel: sd 0:0:12:0: [

[2021-10-13 16:16] knekrasov commented on #1682
@andriytk Thanks for the comment. The thing is that is exactly how this caching mechanism works already.

Heavyweight `self.kv.kv_get('m0conf/nodes', recurse=True)` are executed only ONCE during the whole nvec_get reply procedure, the result is memoized in the cache instance and afterwards they are taken from the cache. The decision whether a heavyweight call needs to be executed or the pre-calcul

[2021-10-15 09:16] andriytk commented on #1682
The numbers are better, but still - 10 seconds is very far from adequate time. It should be less than 1 sec.

[2021-10-16 10:38] andriytk opened #1834 "facter 3.14.8 or higher rpm is not available on CentOS 7"
CentOS 7 is the main platform for CORTX atm. Yet, Hare requires facter 3.14.8 or higher version, which is not available in the public rpm repos:

[code]

The standard facter version on CentOS 7 is 2.4.1:

[code]

[2021-10-19 07:36] vaibhavparatwar commented on #1789
@johnbent could you please check above comment and let me know if still we need to add note in the README?

[2021-10-19 11:01] knekrasov commented on #1167
Yes, @vaibhavparatwar, good point. Nowadays HA is integrated with SSPL, Hare has no direct dependency on SSPL.
Closing the ticket.

[2021-10-19 11:01] #1167 closed, assigned to vvv

[2021-10-19 11:25] knekrasov commented on #1834
@vaibhavparatwar some time ago we observed a bug in facter 2.x.x and it took quite much of efforts to debug. Here is the link to the investigation results: https://jts.seagate.com/browse/EOS-15307?focusedCommentId=1988577&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-1988577

With facter 2.x.x, if the ethernet interfaces use labels, they will not be processed corr

[2021-10-19 12:22] cortx-admin commented on #1167
.

[2021-10-19 13:47] andriytk commented on #1834
Kubernetes is not planned in EU R&D projects (SAGE, IO-SEA, etc.)

[2021-10-20 08:46] vaibhavparatwar commented on #1164
Closing this as this looks irrelevant now. In case it is not the case, please reopen.

[2021-10-20 08:52] cortx-admin commented on #1164
This is not relevant now.

[2021-10-20 08:52] cortx-admin commented on #1164
.

[2021-10-20 09:08] #1280 closed, assigned to nobody

[2021-10-20 09:14] cortx-admin commented on #1264
[~720599] is this still relevant? if yes, shall we convert this to a story ?

[2021-10-20 09:16] vaibhavparatwar commented on #1423
Closing as taken care in https://jts.seagate.com/browse/EOS-15932

[2021-10-20 09:16] #1423 closed

[2021-10-20 09:23] cortx-admin commented on #1424
[~520478] / [~517711] - can you please comment if this is still valid? if yes can we take it up in coming sprints? cc [~520513]

[2021-10-20 09:32] cortx-admin commented on #1439
[~720599] is this still relevant ? converted this to story, if its relevant, can we take it in next sprints. cc [~520513]

[2021-10-20 09:32] cortx-admin commented on #1438
[~720599] - is this still relevant? if yes, can we take it in upcoming sprints? cc [~520513]

[2021-10-20 10:46] cortx-admin commented on #1682
Closing as EOS-22148 resolved.

[2021-10-20 10:46] cortx-admin commented on #1682
.

[2021-10-20 10:46] cortx-admin commented on #1682
.

[2021-10-21 06:17] vaibhavparatwar commented on #1789
@johnbent thank you. This may not be required. will close the issue.

[2021-10-21 06:17] #1789 closed

[2021-10-21 06:24] cortx-admin commented on #1789
.

[2021-10-21 08:38] andriytk opened #1842 "panic: !rep->hae_disconnected_previously at ha_entrypoint_state_cb() when a client app re-started too fast"
When a client app re-started immediately on the same endpoint - the following panic is observed:

[code]

[2021-10-21 09:42] vaibhavparatwar commented on #1444
Closing this issue right now. if seen again, please reopen

[2021-10-21 09:48] cortx-admin commented on #1444
.

[2021-10-21 09:48] cortx-admin commented on #1444
.

[2021-10-22 03:58] cortx-admin commented on #1779
adding Agile Team cc [~520513] [~744287]

[2021-11-03 16:12] justinzw commented on #1248
Jira ticket here: https://jts.seagate.com/browse/EOS-23768

Above we see this:

@knekrasov  does this mean that the issue was resolved?

[2021-11-03 16:17] justinzw commented on #1258
Here is the JIRA ticker: https://jts.seagate.com/browse/EOS-23770

"@azheregelya is going to prepare pull request with lightweight repair/rebalance implementation."

@azheregelya did the pull request happen and was it merged to main?

[2021-11-03 16:36] knekrasov commented on #1258
@justinzw As far as I remember, SNS repair/rebalance support in Hare had been canceled in LDR R1. Hopefully it will be implemented in some near future but I have no information about the dates, sorry.

[2021-11-03 16:38] justinzw commented on #1269
Hi @mssawant

Was there an update on the investigation?

[2021-11-03 16:42] justinzw commented on #1300
@mssawant @knekrasov  is there any update on this issue? Just wondering what the current status is.

[2021-11-03 16:49] justinzw commented on #1258
Thanks, @knekrasov. In that case @azheregelya shall I close the issue?

[2021-11-04 16:45] vvv commented on #1258
@justinzw 14 months have passed since [the last meaningful activity](https://github.com/Seagate/cortx-hare/issues/1258#issuecomment-686646107) on this issue.  Closing it would be humane thing to do.

[9/PC3]: https://github.com/Seagate/cortx-hare/blob/main/rfc/9/README.md#23-development-process

[2021-11-09 20:22] andriytk commented on #1834
I will close it, as the problem will be fixed on CentOS 8 by #1862.

[2021-11-09 20:22] #1834 closed

[2021-11-10 01:38] vaibhavparatwar commented on #1842
@andriytk  can you confirm if you have seen this issue recently? can we close this?

[2021-11-10 13:12] vaibhavparatwar commented on #1842
@andriytk yes, @mssawant's analysis says that this issue is not seen in recent builds. Please check https://jts.seagate.com/browse/EOS-25567?focusedCommentId=2235623&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-2235623 in JIRA. i just wanted to confirm as you are the reporter for this issue. thanks.

[2021-11-10 14:02] andriytk commented on #1842
I wonder if it was tested by the scenario that is described above in the issue description.

[2021-11-12 16:24] cortx-admin commented on #1842
This is not reproduced in the latest several deployments and expected to be fixed.

[2021-11-12 16:24] cortx-admin commented on #1842
[~520414] can you please help here? is this issue seen in recent builds?

[2021-11-12 16:24] cortx-admin commented on #1834
.

[2021-11-12 16:24] cortx-admin commented on #1834
Closing as its closed in github by reporter

[2021-11-12 16:24] cortx-admin commented on #1834
.

[2021-11-12 16:24] cortx-admin commented on #1722
[~534380] is this going to be scheduled in an upcoming sprint? 

Is it going to be fixed or scheduled on the backlog?

We are updating issues in Github and want it to reflect the current status.

[2021-11-12 16:24] cortx-admin commented on #1637
[~752700] this means we have an EPIC (a parent feature JIRA) to which these issues created by github are linked for timebeing until we get a proper EPIC id for github/community issues

[2021-11-14 21:38] andriytk commented on #1842
It's seen on the sage-2.1 branch installed on the Sage prototype cluster - yes. If it is fixed in the main branch - let me know the commit id which fixes it and is not present in sage-2.1 branch so that I could cherry pick it there. Thanks.

[2021-11-16 14:14] andriytk commented on #1802
The fix was not merged to the main branch yet. Why is this issue closed?

[2021-11-16 14:15] #1830 closed

[2021-11-16 15:29] cortx-admin commented on #1830
.

[2021-11-16 15:29] cortx-admin commented on #1830
Closing this as its merged

[2021-11-16 15:29] #1802 closed

[2021-11-17 17:15] justinzw commented on #1258
This is an issue for a feature that has been backlogged. I will close the issue.

[2021-11-17 17:15] #1258 closed

[2021-11-17 17:21] justinzw commented on #1248
I'm going to ping @knekrasov on Jira to get a status update.

[2021-11-17 17:30] justinzw commented on #1302
closing this issue as the SNS feature has been backlogged per this comment ->

https://github.com/Seagate/cortx-hare/issues/1258#issuecomment-959677011

[2021-11-17 17:30] #1302 closed

[2021-11-17 17:49] justinzw commented on #1464
@knekrasov would it be appropriate to close this issue since there is no work scheduled on this issue?

[2021-11-17 17:55] justinzw commented on #1466
@mssawant would it be appropriate to close this issue since no work has been done on it for sometime?

[2021-11-17 17:59] cortx-admin commented on #1438
[~534380] was this scheduled in the backlog? If so when was it scheduled to be worked on?

[2021-11-17 18:13] justinzw commented on #1470
@mssawant Is there someone appropriate I can assign this issue to?

[2021-11-17 18:24] mssawant commented on #1300
@justinzw,
Sorry, we have not scheduled this task yet, Hare team is short on bandwidth presently. Let me take this up in our next scrum meeting. From the comments it seems the fix is straightforward; thus, it should not take much time. cc @vaibhavparatwar

[2021-11-18 09:50] knekrasov commented on #1464
I'm afraid that this work will be forgotten if we close the issue.

[2021-11-25 04:39] vaibhavparatwar commented on #1248
This information can be taken from hctl status. So closing this ticket. cc @mssawant

[2021-11-25 04:39] #1248 closed

[2021-11-25 04:49] cortx-admin commented on #1248
Close this ticket [~534380]

[2021-11-25 06:03] cortx-admin commented on #1258
.

[2021-11-25 06:03] cortx-admin commented on #1258
.

[2021-11-25 06:03] cortx-admin commented on #1258
.

[2021-11-25 06:03] cortx-admin commented on #1248
.

[2021-11-25 06:03] cortx-admin commented on #1248
.

[2021-11-25 06:03] cortx-admin commented on #1248
,

[2021-12-29 10:54] kiwionly2 opened #1922 "Invalid cluster description for motr single node setup"
Hi,

I am trying to setup a single motr node, however I encounter this issue :

![image](https://user-images.githubusercontent.com/77140436/147654853-3a791581-110a-49e9-887d-2ee76052a414.png)

This seem like a missing key **transport_type** in the **CDF. yaml** file.

[2021-12-29 10:55] cortx-admin commented on #1922
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27223. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-29 10:59] kiwionly2 opened #1923 "Error when running /opt/seagate/cortx/hare/bin/../bin/cfgen --help-schema"
Hi,

I am trying to run  `/opt/seagate/cortx/hare/bin/../bin/cfgen --help-schema`

However , I keep encounter python module error , so far I had install **psutil**, and **hax** module, however still encounter this error:

![image](https://user-images.githubusercontent.com/77140436/147655314-e2b9aea7-8b85-4851-9585-03cb076a00de.png)

any idea ?

[2021-12-29 11:00] cortx-admin commented on #1923
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27224. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-29 11:05] kiwionly2 opened #1924 "Compile jq: error: Invalid numeric literal at EOF at line 1, column 12 (while parsing '192.168.60.4') at <top-level>, line 5:"
I am trying to start motr single node ( by adding transport_type: inet in CDF.yaml which was missing in the current sample file)

However, had encounter this issue :

![image](https://user-images.githubusercontent.com/77140436/147655642-f6a913b1-9f1c-4442-9b30-b226ad037170.png)

any idea ?

[2021-12-29 11:08] cortx-admin commented on #1924
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27225. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2021-12-30 17:13] mssawant commented on #1924
thanks @kiwionly2, this is addressed by https://github.com/Seagate/cortx-hare/pull/1926

[2021-12-30 17:14] mssawant commented on #1922
Thanks @kiwionly2, this is addressed by https://github.com/Seagate/cortx-hare/pull/1926.

[2021-12-30 17:21] cortx-admin commented on #1924
Review at https://github.com/Seagate/cortx-hare/pull/1926

[2021-12-30 17:21] cortx-admin commented on #1922
review at https://github.com/Seagate/cortx-hare/pull/1926

[2021-12-30 21:16] mssawant commented on #1924
@kiwionly2, https://github.com/Seagate/cortx-hare/pull/1926 is merged, can you please reverify from your side and close the issue if working?

[2021-12-30 21:18] mssawant commented on #1922
@kiwionly2, https://github.com/Seagate/cortx-hare/pull/1926 is merged to main, can you please re-verify and close if working?

[2021-12-30 21:19] mssawant commented on #1842
@andriytk, Kubernetes branch is now merged to main and `hctl bootstrap` is working as well, can you please try to rebase `sage` branch on `cortx-hare` main branch and try? cc @vaibhavparatwar .

[2021-12-30 22:23] #1924 closed

[2021-12-30 22:23] cortx-admin commented on #1924
https://github.com/Seagate/cortx-hare/pull/1926 merged to main.

[2021-12-30 22:23] #1922 closed

[2021-12-30 22:23] cortx-admin commented on #1922
https://github.com/Seagate/cortx-hare/pull/1926 merged to main.

[2021-12-31 06:23] kiwionly2 commented on #1922
@mssawant

I change **transport_key** to **lnet** ( could you confirm is this correct value ? ) since I not using **libfab**.

however after staring hare, I encounter this issue ( which I had open  in issue #1924 )

Here the screenshot:

![image](https://user-images.githubusercontent.com/77140436/147807101-3fd47886-daa3-4972-a3a4-aa39327cab90.png)

Any idea ?

[2021-12-31 06:24] kiwionly2 commented on #1924
see #1922

[2021-12-31 06:53] ydb242 commented on #1923
@kiwionly2 Can you tell me what steps did you follow for deploying the cluster?

[2021-12-31 08:54] kiwionly2 commented on #1923
@ydb242

I just follow **hare** documentation instruction for **hare** installation, I encounter error and try to run this command, some how I get an error.

[2021-12-31 09:12] ydb242 commented on #1923
Ok.
You can do one thing to mitigate this error.
Kindly start the python virtual environment using the following command.
`source /root/cortx-hare/.py3env/bin/activate`
Once in the virtual environment, try running the command.
It should run without any issue.
Note: /root/cortx-hare is the path to hare directory used to start the cluster.

[2021-12-31 15:58] kiwionly2 commented on #1923
@ydb242

I had try your suggestion, but seem like it is not working.

![image](https://user-images.githubusercontent.com/77140436/147831495-4edce557-e0f7-4562-b348-258055d1fcb5.png)

[2022-01-03 04:32] cortx-admin commented on #1924
.

[2022-01-03 04:32] cortx-admin commented on #1922
.

[2022-01-05 15:26] kiwionly2 opened #1936 "Broken link on cortx-hare rfc 10 document"
Hi,

While browser the [cortx-hare/rfc/10/readme.md ](https://github.com/Seagate/cortx-hare/blob/main/rfc/10/README.md), found that link for **3CFGEN** is broken.

Instead of

`https://github.com/Seagate/cortx-hare/blob/main/rfc/10/rfc/3/README.md`

the correct one should be

`https://github.com/Seagate/cortx-hare/blob/main/rfc/3/README.md`

[2022-01-05 15:56] cortx-admin commented on #1936
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27290. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-06 05:33] kiwionly2 commented on #1923
I try to reinstall a fresh new motr and hare in a new vm, however, still encounter error.

Here the error if running in python virtual environment:

![image](https://user-images.githubusercontent.com/77140436/148333191-b7f97cda-ab4f-4df9-8d6a-0111ef97807a.png)

While this is the one running normal ( without using virtual environment)

![image](https://user-images.githubusercontent.com/77140436/148

[2022-01-06 06:20] kiwionly2 commented on #1923
With help from @ydb242 , **motr** and **hare** is reinstall again and now **cfgen** is working if run in **python virtual environment**.

![image](https://user-images.githubusercontent.com/77140436/148337377-b7c2462e-dcc4-4d87-aa95-c44c0c448f39.png)

However without virtual environment, the error still remain.

![image](https://user-images.githubusercontent.com/77140436/148337830-176fa061-d95c-4c5

[2022-01-06 06:20] #1923 closed

[2022-01-06 06:56] cortx-admin commented on #1936
.

[2022-01-06 06:56] cortx-admin commented on #1923
The error has now been resolved by the use of python virtual environment.
The user was trying to execute cfgen script using the normal motr + hare dev environment.
Since cfgen may not have the knowledge of all the modules with it, using python virtual environment helps finding the necessary path of the modules. This prevents any error while running the cfgen script.

[2022-01-06 07:59] cortx-admin commented on #1923
.

[2022-01-06 07:59] cortx-admin commented on #1923
Closing as community issue reporter closed github issue.

[2022-01-10 16:29] kiwionly2 opened #1943 "hare sudo make install fail"
I am install a fresh copy of hare from git and try to build it by follow the documentation of hare.

Everything is working fin until the last step when I try to run `sudo make install`

here the error I get

![image](https://user-images.githubusercontent.com/77140436/148801529-4189d48e-2ad4-443d-9519-9d238788e799.png)

Any idea ?

[2022-01-10 16:31] cortx-admin commented on #1943
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27332. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-10 16:55] #1936 closed

[2022-01-10 18:00] cortx-admin commented on #1936
Merged.

[2022-01-10 18:00] cortx-admin commented on #1936
.

[2022-01-11 10:03] kiwionly2 commented on #1943
I need to manually remove the `/opt/seagate` directory, and now it work, is that something missing in the install script ?

[2022-01-11 12:50] hessio commented on #1943
HI @kiwionly2 I am not sure. Let me ask @knekrasov

[2022-01-12 07:18] cortx-admin commented on #1842
This particular panic was fixed in [EOS-19409: motr-mkfs fails with Motr panic: !rep->hae_disconnected_previously by mssawant · Pull Request #1586 · Seagate/cortx-hare (github.com)|https://github.com/Seagate/cortx-hare/pull/1586] 

[~931950] please confirm with latest build and update it.

[2022-01-12 22:30] mengwanguc opened #1949 "hctl bootstrap fails"
I'm running Cortx on a new CentOS 7.8.2003 machine.
I first installed latest motr, then installed latest hare, both following the quick start guide.

The installation worked fine. However, when I run "hctl bootstrap --mkfs ~/CDF.yaml", I got the following error:
[code]

This is the output for `systemctl status motr-mkfs@0x7200000000000001:0x9.service`:

[code]

This is the output for `sudo systemc

[2022-01-12 22:32] cortx-admin commented on #1949
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27504. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-13 05:38] vaibhavparatwar commented on #1949
@mengwanguc - could you also paste - "journalctl -xe"  these logs from your setup ? Looks like motr logs also are needed to confirm if there is any panic in motr land. cc @mssawant

[2022-01-13 08:33] mengwanguc commented on #1949
@vaibhavparatwar sure! I'm pasting output of `journalctl --since="2022-01-12 21:51:44`" -x since it's when hare started to crash. The output maybe a bit long since I'm not sure which info will be useful for you:
[code]

[2022-01-13 10:42] cortx-admin commented on #1264
Closing this as original github issue is closed

[2022-01-13 10:42] cortx-admin commented on #1264
.

[2022-01-13 10:42] cortx-admin commented on #1264
.

[2022-01-13 11:46] cortx-admin commented on #1722
{code:java}
DeprecationWarning: 'async' and 'await' will become reserved keywords in Python 3.7 {code}

This warning tells us that in updated versions of python, *await* and *async* will be treated as keywords. And hence we get this warning while reusing in the user-defined functions and variables.

Solution:
Rename the function names from await to anything relevant.

[2022-01-17 07:10] supriyachavan4398 commented on #1949
@mengwanguc we are fixed this issue in https://jts.seagate.com/browse/EOS-27315 this JIRA. I would suggest you to use CentOS 7.9 machine. Because nowadays we are supporting for CentOS 7.9 machines, and this are compatible with us.
Could you please try again once with CentOS 7.9 machine, and with latest hare and motr repos?
cc. @vaibhavparatwar, @pavankrishnat, @mssawant

[2022-01-17 13:05] #1842 closed, assigned to supriyachavan4398

[2022-01-17 14:16] cortx-admin commented on #1842
A reference file for output of mcp utility:
 [^mcpfile.log]

[2022-01-17 14:16] cortx-admin commented on #1842
.

[2022-01-17 14:16] cortx-admin commented on #1842
This particular panic was fixed in [EOS-19409: motr-mkfs fails with Motr panic: !rep->hae_disconnected_previously by mssawant · Pull Request #1586 · Seagate/cortx-hare (github.com)|https://github.com//pull/1586]

[2022-01-17 14:16] cortx-admin commented on #1842
.

[2022-01-17 21:58] mengwanguc commented on #1949
Hi @supriyachavan4398 , unfortunately our academic cloud Chameleon doesn't have a CentOS image.

I see in the quick-start-guide, CentOS 8.3+ is also suggested.
Is it fine that I try with CentOS 8.3? (I'm on it)

And will CentOS 8.3 be compatible with you now and in the future?

[2022-01-17 23:06] mengwanguc commented on #1949
I'm having some problem when testing motr on CentOS 8.3 btw: https://github.com/Seagate/cortx-motr/issues/1384

[2022-01-18 06:36] supriyachavan4398 commented on #1949
@mengwanguc, do you use lnet?
 Please paste the contents of your CDF file.

[2022-01-19 09:10] andriytk opened #1954 "FDMI filter fid to be shown in hctl status"
Currently, the only way for a user to get FDMI filter fid configured in CDF is to look into `conf.xc` and try to parse it. This is very inconvenient. `conf.xc` is an internal low-level configuration file for motr and it is not supposed to be analysed by a cluster user.

Suggestion: show FDMI filters fids in the output of `hctl status --json` command or add an additional option (`--fdmi`?) to show

[2022-01-19 09:12] cortx-admin commented on #1954
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27674. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-19 13:18] supriyachavan4398 commented on #1943
Hi @kiwionly2,
do you use `make clean` before using the `make install` command?
Please run these commands one after the other.
[code]
 If you run these commands, this problem will not occur.

[2022-01-19 13:59] mssawant commented on #1741
@andriytk, this is a new feature requirement and would require designing and planning. To understand correctly, do you mean an interface to select devices from the cluster and form a pool out of those? Will aux-pool feature suffice your needs as that feature is already present. Auxiliary pools are created with different combinations of cluster devices having different N but same K layout parameter

[2022-01-19 14:25] #1943 closed

[2022-01-19 14:27] mssawant commented on #1820
@andriytk, you need to install cortx-py-utils package. cc @pavankrishnat, @vaibhavparatwar

[2022-01-19 15:42] cortx-admin commented on #1943
.

[2022-01-19 15:42] cortx-admin commented on #1943
As it's a documentation error, We can improve there.

[2022-01-19 15:42] cortx-admin commented on #1943
.

[2022-01-20 16:33] rajeshdesh opened #1957 "status of m0_client remains offline after rgw restart"
I was running 16MB-200Sessions-12KObjects s3bench from client on single node MGW. During this test I observed that I/O started failing. Then I restarted RGW with ../src/stop.sh and ../src/vstart.sh scripts. At this stage, `hctl status` started showing m0_client as offline. After this, I followed steps like
- stopped RGW again with ../src/stop.sh
- hctl shutdown, then
- hctl bootstrap --mkfs single

[2022-01-20 16:38] cortx-admin commented on #1957
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27773. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-20 16:47] rajeshdesh opened #1958 "s3bench I/O start failing for 16Mb-200Sessions-12KObjects on 1node-MGW"
On a single node MGW cluster deployed on RockyLinux with 5 additional disks for data, I was running s3bench with configuration like
for OBJECTSIZE in '1Kb' '64Kb' '256Kb' '1Mb' '8Mb' '16Mb' '128Mb'; do
for SESSION in 100 200; do

This test executed well till 16MB-100 Sessions and started failing for 200 sessions post PUT of 20th object.
I tried restarting RGW with ../src/stop.sh and ../src/vstart.

[2022-01-20 16:49] cortx-admin commented on #1958
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27774. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-20 18:01] cortx-admin commented on #1722
Created PR

[2022-01-20 18:24] mengwanguc commented on #1949
Yes I was using lnet.

I just copied past /opt/seagate/cortx/hare/share/cfgen/examples/singlenode.yaml but I modified data_iface to eth0 since my `ip a` gives me eth0.

Currently I'm not able to reproduce it because I'm not stuck on motr installation even before hare bootstrap.

I guess I will try it again after motr works for me.

[2022-01-21 02:30] huanghua78 opened #1960 "FDMI filter "client index" should use the first m0_client endpoint"
In the file: https://github.com/Seagate/cortx-hare/blob/main/cfgen/examples/singlenode.yaml#L52
From this line to the end, it's sample FDMI configuration.
[code]
the "client_index" is the remote FDMI plugin endpoint that FDMI events will be sent to.
For example, in the following deployment, it should the `first` m0_client endpoint, that is `inet:tcp:10.230.240.203@5001`.
[code]

But the auto-gener

[2022-01-21 02:33] cortx-admin commented on #1960
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-27780. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-01-21 10:10] supriyachavan4398 commented on #1722
@max-seagate, This warning got resolved in this PR: https://github.com/Seagate/cortx-hare/pull/1948, please check.
Since the issue is resolved, Is it okay to close the issue?

[2022-01-21 10:31] #1722 closed

[2022-01-21 10:34] cortx-admin commented on #1722
Merged to main.

[2022-01-21 10:34] cortx-admin commented on #1722
Verified

[2022-01-25 11:54] pavankrishnat commented on #1820
@andriytk,  can you please re-verify by installing cortx-py-utils and close if working.

[2022-01-25 13:34] andriytk commented on #1820
Yes, the installed `cortx-py-utils` package seems to fix this issue.

[2022-01-25 13:34] #1820 closed

[2022-01-25 14:42] cortx-admin commented on #1820
.

[2022-01-25 14:42] cortx-admin commented on #1820
.

[2022-01-27 09:35] vaibhavparatwar commented on #1949
I think we can close this issue for now @mengwanguc . Once you could test motr with CentOS 8.3+  and if you face any issues, we can log a new ticket always.

[2022-01-27 09:35] #1949 closed

[2022-01-27 10:41] cortx-admin commented on #1949
.

[2022-01-27 10:41] cortx-admin commented on #1949
.

[2022-01-27 10:41] cortx-admin commented on #1949
.

[2022-02-02 12:49] rajeshdesh opened #1968 ""filesystem-stats:" returning empty in case of single node RGW-MOTR deployment"
I have 2 instances of single node RGW-MOTR deployments, deployed at different times. On second deployment I am noticing that `hctl status --json` is returning empty dictionary whereas same is working fine on older deployment.

From system its returning empty
[code]
From system its returning fine
[code]

[2022-02-02 12:51] cortx-admin commented on #1968
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28473. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-02-08 16:34] andriytk opened #1972 "Setting drive-state to FAILED with hctl is not working"
Setting drive-state to FAILED with hctl is not working. Let's try it:

[code]

So far so good, we can even see the event in the queue in consul kv:

[code]

But let's see at the log of RC:

[code]

So the command does not do anything.

[2022-02-08 16:36] cortx-admin commented on #1972
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/EOS-28578. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-02-08 16:46] andriytk commented on #1972
Looks like the problem is with the old version of `jq` utility:

[code]

See https://github.com/stedolan/jq/issues/1408#issuecomment-300787749

[2022-02-08 17:03] #1972 closed, assigned to nobody

[2022-02-09 02:50] cortx-admin commented on #1972
.

[2022-02-09 02:50] cortx-admin commented on #1972
.

[2022-02-09 02:50] cortx-admin commented on #1972
.

[2022-02-10 18:50] andriytk opened #1977 "hax broadcasts FAILED instead of REPAIRING for device"
For some reason, when I try to set device to repairing state (after failed), `hax` broadcasts FAILED instead of REPAIRING:

[code]

[2022-02-10 18:50] andriytk opened #1978 "hax broadcasts FAILED instead of REPAIRING for device"
For some reason, when I try to set device to repairing state (after failed), device is still shown as failed in `hctl status` and, moreover, `hax` broadcasts FAILED instead of REPAIRING:

[code]

From syslog:

[code]

[2022-02-11 04:34] cortx-admin commented on #1978
[~931950] - could you please look in to this?

[2022-02-11 12:41] andriytk commented on #1977
Duplicated by https://github.com/Seagate/cortx-hare/issues/1978

[2022-02-11 12:41] #1977 closed

[2022-02-11 12:44] cortx-admin commented on #1978
On the centos machine, I was facing an issue with installing/upgrading `jq-1.6-3.el8.x86_64.rpm`.
So I tried on Rocky Linux 8.4,  and the `jq-1.6` installation was successful.

Tried to reproduce this issue:
{noformat}
[root@ssc-vm-g4-rhev4-0467 ~]# hctl status -d
Byte_count:
    critical_byte_count : 0
    damaged_byte_count : 0
    degraded_byte_count : 0
    healthy_byte_count : 0
Data pool:

[2022-02-11 13:49] cortx-admin commented on #1978
[~520478] - is this functionality (setting drive state to REPAIRING ) already available and not working OR its not yet implemented? cc [~931950] [~934253] [~940886] [~520414]

[2022-02-11 13:49] cortx-admin commented on #1977
Duplicate of EOS-28773

[2022-02-11 13:49] cortx-admin commented on #1977
.

[2022-02-11 13:49] cortx-admin commented on #1977
.

[2022-02-11 13:49] cortx-admin commented on #1977
.

[2022-02-12 03:55] cortx-admin commented on #1978
https://github.com/Seagate/cortx-hare/pull/1982 cc [~934253], [~534380]

[2022-02-14 05:18] cortx-admin commented on #1978
https://github.com/Seagate/cortx-hare/pull/1982

[2022-02-15 20:05] #1978 closed

[2022-02-15 20:05] cortx-admin commented on #1978
https://github.com/Seagate/cortx-hare/pull/1982 merged to main.

[2022-02-16 03:36] cortx-admin commented on #1978
will be verified as part of CORTX-22105

[2022-02-19 16:48] justinzw commented on #1968
@rajeshdesh I want to work on reproducing this issue. What instructions are you following?

[2022-02-28 05:06] cortx-admin commented on #1968
Hi [~752700], I had followed PRIVATE page for deploying single node MGW instance.
https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/808583540/Motr+RGW+MGW+on+single-node+HOWTO

The system is still available if you want to check live
hostname: sm19-r19.pun.seagate.com / root / seagate1
{noformat}
[root@sm19-r19 ~]# hctl status
Byte_count:
    critical_byte_count : 0
    damaged_byt

[2022-03-03 13:07] vaibhavparatwar commented on #1466
@nezzzu do you think we can close this issue? Hare team may not be able to schedule in any time soon and with containerized CORTX, we may not need it any more. cc @SunilSavanurSeagate @mssawant

[2022-03-03 14:13] cortx-admin commented on #1466
[~519680] - Can we close this ticket? Commented on respective Github issue. cc [~520513] [~520478]

[2022-03-03 14:13] cortx-admin commented on #1466
[~534380] has this been implemented? We wanted this feature a long time ago, I am not sure if this is implemented.

[2022-03-03 14:13] cortx-admin commented on #1466
[~519680] No this is not implemented and right now we do not see any plan in near future to implement this. cc [~520513] [~520478]

[2022-03-03 14:13] cortx-admin commented on #1466
[~534380], in that case, please do NOT close and mark as resolved as we will loose important information. Same goes for other unfixed/unresolved EU R&D tickets.

 

[2022-03-04 09:32] vaibhavparatwar commented on #1519
Closing this as we have Story ticket to take care of this if at all required.

[2022-03-04 09:32] #1519 closed

[2022-03-04 09:33] cortx-admin commented on #1519
Duplicate so cloing this. tracking in other story

[2022-03-04 09:33] cortx-admin commented on #1519
.

[2022-03-04 09:34] cortx-admin commented on #1519
.

[2022-03-23 18:14] kevinxyliu opened #2036 "Compiling cortx-hare shows an error"
Hi,

I am following the Hare User Guide to compile it on a CentOS 7.8 bare metal machine, and the steps are as follows:

1. Compile cortx-motr. The compilation seems to be successful, as all unit tests have passed.

2. Compile cortx-utils from the guide: https://github.com/Seagate/cortx-utils/blob/main/py-utils/README.md. The compilation seems to be successful, as I was able to run the commands in

[2022-03-25 02:05] cortx-admin commented on #2036
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29703. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-25 04:28] cortx-admin commented on #2036
[~931950] can you help here?

[2022-03-25 05:25] supriyachavan4398 commented on #2036
Hi @kevinxyliu, We have one `dg_bytecount` branch, which was merged into the `main` 2 days back. So because of this changes, we faced the above issue in the `make` command. Could you please try to build motr and hare once again with the latest main?
Before that, please remove all old RPMs from VM.
Thanks!

[2022-03-28 08:05] vaibhavparatwar commented on #2036
Closing this ticket. If seen again with correct branch, please raise a separate issue.

[2022-03-28 08:05] #2036 closed

[2022-03-28 08:07] cortx-admin commented on #2036
No work as it may be that user is using wrong branch

[2022-03-28 08:07] cortx-admin commented on #2036
,

[2022-03-28 08:07] cortx-admin commented on #2036
.

[2022-03-28 08:08] vaibhavparatwar commented on #1968
@rajeshdesh this is not supported on the build which you are using it seems. So closing this. File system stats are not supported. Now with dg_bytecount changes merged, we support degraded bytecount. Closing this for now

[2022-03-28 08:08] #1968 closed

[2022-03-28 09:16] cortx-admin commented on #1968
This ws not supported on the build it was tested. so closing it.

[2022-03-28 09:16] cortx-admin commented on #1968
Not supported on the build where it was reported

[2022-03-28 09:16] cortx-admin commented on #1968
.

[2022-03-28 09:16] cortx-admin commented on #1968
.

[2022-03-29 18:09] kevinxyliu opened #2040 "Compiling error of cortx-hare still persists"
Hi,

I submitted an [issue](https://github.com/Seagate/cortx-hare/issues/2036) last week reporting a gcc error when compiling cortx-hare from source. Thanks for the quick response - I apologize for not checking it immediately as I have been out of town since then.

I checked the new main branch today and it seems that the same issue was still there. Did anyone merge a new branch to the main these

[2022-03-29 18:12] cortx-admin commented on #2040
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-29821. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-03-30 05:38] vaibhavparatwar commented on #2040
@kevinxyliu can you please test on Centos 7.9 or 8 ? @hessio can you please help here?

[2022-03-31 10:20] cortx-admin commented on #1439
Not seeing this story will be taken in next few PIs. So closing this. [~520478] please reopen if this is required. cc [~520513]

[2022-03-31 10:20] cortx-admin commented on #1439
.

[2022-03-31 10:20] cortx-admin commented on #1439
.

[2022-03-31 10:20] cortx-admin commented on #1439
.

[2022-03-31 15:17] hessio commented on #2040
Yes no problem I will test this out

[2022-03-31 15:44] #2040 closed

[2022-04-01 02:00] vaibhavparatwar commented on #2040
Thanks @kevinxyliu . @hessio thanks for your attention. Issue is resolved now.

[2022-04-01 02:49] cortx-admin commented on #2040
REJECTED.

[2022-04-01 02:49] cortx-admin commented on #2040
.

[2022-04-01 02:49] cortx-admin commented on #2040
.

[2022-04-05 06:03] cortx-admin commented on #1300
[~930816] please investigate. cc [~520513] [~520478]

[2022-04-05 06:03] cortx-admin commented on #1269
[~930816] - Please investigate. Let me or [~520513]/[~520478] know if any questions.

[2022-04-05 08:33] #1385 closed

[2022-04-05 08:36] cortx-admin commented on #1385
Closing this as we have https://jts.seagate.com/browse/CORTX-14689 this story ticket created for the issue.

[2022-04-05 08:36] cortx-admin commented on #1385
Duplicated

[2022-04-05 08:36] cortx-admin commented on #1385
.

[2022-04-05 08:36] cortx-admin commented on #1385
.

[2022-04-05 08:36] cortx-admin commented on #1302
Its addressed recently in https://jts.seagate.com/browse/CORTX-29486

[2022-04-05 08:36] cortx-admin commented on #1302
.

[2022-04-05 08:36] cortx-admin commented on #1302
.

[2022-04-05 11:55] vaibhavparatwar commented on #1486
Looks like this issue is resolved as per JIRA updates. Closing it. If it is seen again, please open a new issue.

[2022-04-05 11:55] #1486 closed

[2022-04-05 13:02] cortx-admin commented on #1486
Duplicate

[2022-04-05 13:02] cortx-admin commented on #1486
.

[2022-04-05 13:02] cortx-admin commented on #1486
.

[2022-04-05 13:02] cortx-admin commented on #1464
Improvement ticket cc [~520513]

[2022-04-05 13:03] cortx-admin commented on #1383
Improvement ticket cc [~520513]

[2022-04-05 17:26] cortx-admin commented on #1465
[~520414] Is this still observed on SAGE cluster? cc [~520513]

[2022-04-06 04:34] cortx-admin commented on #1466
Improvment cc [~520513]

[2022-04-06 04:56] vaibhavparatwar commented on #1470
@andriytk Is this issue about "status we show for /dev/null in hctl status when metadata devices are not specified in cdf file" or "we should not show /dev/null in hctl status " ? cc @mssawant  @SunilSavanurSeagate

[2022-04-06 04:57] vaibhavparatwar commented on #1470
This is currently as per design to show /dev/null when metadata device is not specified in cdf.yaml file

nodes:
  - hostname: ssc-vm-g2-rhev4-1947.colo.seagate.com
    data_iface: eth1
    data_iface_type: tcp
    transport_type: libfab
    m0_servers:
      - runs_confd: true
        io_disks:
          data: []
      - io_disks:
          data:
            - path: /dev/loop0
            - path:

[2022-04-06 05:00] vaibhavparatwar commented on #1465
@nezzzu is this issue still observed on SAGE cluster? I see related JIRA ticket is in closed state.

[2022-04-06 06:20] vaibhavparatwar commented on #1506
Not getting this error now:
[root@ssc-vm-g2-rhev4-1947 ~]# /opt/seagate/cortx/hare/libexec/m0crate-io-conf
CrateConfig_Sections: [MOTR_CONFIG, WORKLOAD_SPEC]
MOTR_CONFIG:
   MOTR_LOCAL_ADDR: inet:tcp:10.230.240.185@21501
   MOTR_HA_ADDR:    inet:tcp:10.230.240.185@22001
   PROF: <0x7000000000000001:0x4e>  # Profile fid
   LAYOUT_ID: 9                      # Defines the UNIT_SIZE (9: 1MB)
   IS_OOS

[2022-04-06 06:20] #1506 closed

[2022-04-06 06:22] cortx-admin commented on #1506
Now we are not getting this error..
[root@ssc-vm-g2-rhev4-1947 ~]# /opt/seagate/cortx/hare/libexec/m0crate-io-conf
CrateConfig_Sections: [MOTR_CONFIG, WORKLOAD_SPEC]
MOTR_CONFIG:
   MOTR_LOCAL_ADDR: inet:tcp:10.230.240.185@21501
   MOTR_HA_ADDR:    inet:tcp:10.230.240.185@22001
   PROF: <0x7000000000000001:0x4e>  # Profile fid
   LAYOUT_ID: 9                      # Defines the UNIT_SIZE (9: 1MB)

[2022-04-06 06:22] cortx-admin commented on #1506
Not reproducing now

[2022-04-06 06:22] cortx-admin commented on #1506
.

[2022-04-06 06:22] cortx-admin commented on #1506
.

[2022-04-06 06:22] cortx-admin commented on #1506
.

[2022-04-06 06:22] cortx-admin commented on #1502
Improvement cc [~520513]

[2022-04-06 06:26] vaibhavparatwar commented on #1477
We have JIRA story ticket to track #2 from the issue mentioned. Other two are addressed already.

[2022-04-06 06:26] #1477 closed

[2022-04-06 06:29] cortx-admin commented on #1477
For #1 - We now do not hardcode number of instances for S3 (or rgw now). So this is taken care.
For #2 - We are tracking it in separate JIRA CORTX-17160
For #3 - We have recently implemented to take interface type from confstore key value.
               we read it from below key.

# Expected format '<protocol>://<hostname>:<port>'
# e.g. endpoints:
# - tcp://data1-node1:22001 # For motr and Hax c

[2022-04-06 06:29] cortx-admin commented on #1477
.

[2022-04-06 06:29] cortx-admin commented on #1477
.

[2022-04-06 06:29] cortx-admin commented on #1477
..

[2022-04-06 06:29] cortx-admin commented on #1477
.

[2022-04-06 07:01] vaibhavparatwar commented on #1957
@rajeshdesh please verify this again and comment.

[2022-04-06 07:01] vaibhavparatwar commented on #1958
@rajeshdesh  please verify it again and comment.

[2022-04-06 07:35] cortx-admin commented on #1269
Improvement / refactoring cc [~520513]

[2022-04-06 08:42] cortx-admin commented on #1960
Improvement / refactoring cc [~520513]

[2022-04-06 08:42] cortx-admin commented on #1954
Improvement / refactor cc [~520513]

[2022-04-06 08:42] cortx-admin commented on #1741
Improvement / Refactoring (Design) cc [~520513]

[2022-04-06 08:42] cortx-admin commented on #1470
Improvement / Refactoring (Design) cc [~520513]

[2022-04-06 08:42] cortx-admin commented on #1438
Improvement / Refactor (Design) cc [~520513]

[2022-04-06 11:06] rajeshdesh commented on #1958
yes @vaibhavparatwar , not hitting this issue with latest build.

[2022-04-06 11:08] rajeshdesh commented on #1957
yes @vaibhavparatwar , not hitting this issue with latest builds of Cortx-RGW

[2022-04-06 11:43] vaibhavparatwar commented on #1957
Closing as per @rajeshdesh's verification.

[2022-04-06 11:43] #1957 closed

[2022-04-06 12:53] cortx-admin commented on #1957
.

[2022-04-06 12:53] cortx-admin commented on #1957
.

[2022-04-06 20:27] hessio commented on #1424
Is this issue still relevant?

[2022-04-06 20:30] hessio commented on #1516
Is this issue still relevant?

[2022-04-07 03:28] cortx-admin commented on #1516
[~520478] can you please help in understanding if this is still relevant?

[2022-04-07 03:28] cortx-admin commented on #1424
[~520478] need your help to understand if this is still relevant.

[2022-04-11 06:22] rajeshdesh commented on #1958
Hi @vaibhavparatwar , I am not able to reproduce the issue with latest build.
So, closing the issue.
` Object Size  Samples  Sessions  Iteration  Write Tput  Read Tput  Write Latency  Read Latency  Write TTFB  Read TTFB  Write TTFB(99%)  Read TTFB(99%)  Write Errors  Read Errors
 -----------  -------  --------  ---------  ----------  ---------  -------------  ------------  ----------  ---------  -

[2022-04-11 06:22] #1958 closed

[2022-04-11 07:29] cortx-admin commented on #1958
Unable to reproduce the bug with single node cluster having build:

{noformat}
[root@smxxxx run1]# cat /root/cortx-k8s/k8_cortx_cloud/solution.yaml | grep cortx
    name: cortx-secret
    cortxcontrol: ghcr.io/seagate/cortx-all:2.0.0-714
    cortxdata: ghcr.io/seagate/cortx-all:2.0.0-714
    cortxserver: ghcr.io/seagate/cortx-rgw:2.0.0-714
    cortxha: ghcr.io/seagate/cortx-all:2.0.0-714
    cortx

[2022-04-11 07:29] cortx-admin commented on #1958
Not reproducing now.

[2022-04-11 07:29] cortx-admin commented on #1958
.

[2022-04-11 07:29] cortx-admin commented on #1958
.

[2022-04-13 03:46] vaibhavparatwar commented on #1637
@andriytk is this still valid issue? cc @SunilSavanurSeagate @mssawant

[2022-04-21 06:53] vaibhavparatwar commented on #1637
@andriytk are we still seeing this in current architecture (K8s) ? cc @SunilSavanurSeagate @mssawant

[2022-04-21 14:31] andriytk opened #2060 "High CPU consumption in idle mode"
I observe high CPU consumption by Hare processes in idle mode. Especially, if there are several m0d configured on the node (in my case it was 5 m0d-ios processes):

[code]

`m0ping` processes are seen from time to time in the `top`, so I suppose they are the culprit of the problem.

As far as I can see, `m0ping` processes are started from consul agent process:

[code]

[2022-04-21 15:35] vaibhavparatwar commented on #2060
@mssawant any insights in to this issue?

[2022-04-21 15:41] cortx-admin commented on #2060
[~520414]- Looks like this is similar to https://jts.seagate.com/browse/CORTX-27707

[2022-04-21 16:21] andriytk commented on #2060
@mssawant, I understand that. But still - you can see how much CPU it takes just in idle mode... I don't think it's normal and acceptable.

[2022-04-22 14:10] mssawant commented on #2060
@andriytk, m0ping utility does not do much, only thing is that it runs more frequently, every second, so yes, it will be on top mostly. There can be other factors at play, e.g. filesystem stats and byte count update threads in hax which perform some more complex actions periodically. We did find some memory leak problems related to spiel invocations and team is working on that. As of now, we are n

[2022-04-22 14:59] andriytk opened #2061 "Sometimes disks are offline just after fresh bootstrap"
[code]

Re-bootstrap may help it, but still - why they are offline?

Noticed on commit b46d6b4.

[2022-04-22 15:02] andriytk commented on #2061
@mssawant is this something known?

[2022-04-22 15:05] cortx-admin commented on #2061
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-30982. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-04-22 15:06] mssawant commented on #2061
@andriytk, please rebase with latest Hare main and try,
[code]

[2022-04-25 05:01] #2061 closed

[2022-04-25 05:04] cortx-admin commented on #2061
user need to take latest hare repo as per above comments. So closing this ticket

[2022-04-25 05:04] cortx-admin commented on #2061
,

[2022-04-25 05:04] cortx-admin commented on #2061
.

[2022-04-25 05:04] cortx-admin commented on #2061
As its not seen on latest repo, closing this. [~520414] please use latest hare commit as per Mandar's comments.

[2022-04-25 10:10] andriytk commented on #2061
@mssawant, have you root-cased it and fixed, or you just weren't able to reproduce it?

[2022-04-25 13:34] mssawant commented on #2061
@andriytk, yes. The problem was that we were reporting the process status as OFFLINE when asked for the current process status if Consul status was `passing` but process status was not `M0_CONF_HA_PROCESS_STARTED`  an reported ONLINE only after process transitioned to `M0_CONF_HA_PROCESS_STARTED`. But this was causing a race condition where this OFFLINE process state was updated in Consul and also

[2022-04-28 07:47] vaibhavparatwar commented on #1637
@andriytk do we still see this issue?

[2022-05-10 09:08] cortx-admin commented on #1269
[~930816] is occupied in Codacy issues, so moving this to backlog

[2022-05-31 15:35] andriytk opened #2099 "Undetected m0d process connectivity issue"
All m0d-ios processes are online/started and running, but still - motr client might not be able to connect to some of them:

[code]

Check that all processes are running:

[code]

Such situation and state was reproduced while trying to reproduce https://github.com/Seagate/cortx-motr/issues/1838 issue.

[2022-05-31 15:39] cortx-admin commented on #2099
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-31906. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-05-31 16:07] andriytk commented on #2099
Well, looks like m0d process crashes as soon as some i/o starts:

[code]

[2022-05-31 16:21] andriytk commented on #2099
Here is the panic:

[code]

[2022-06-03 14:59] vaibhavparatwar commented on #1465
@nezzzu closing this issue as we are not able to reproduce it locally. Please reopen if required.

[2022-06-03 15:03] vaibhavparatwar commented on #1502
This will be handled separately as design changing. Closing this as of now @mssawant

[2022-06-03 15:03] #1502 closed

[2022-06-03 15:05] vaibhavparatwar commented on #1269
This is addressed in current main. closing this @mssawant

[2022-06-03 16:12] cortx-admin commented on #1502
.

[2022-06-03 16:12] cortx-admin commented on #1502
.

[2022-06-03 16:12] cortx-admin commented on #1502
.

[2022-06-03 16:12] cortx-admin commented on #1465
.

[2022-06-03 16:12] cortx-admin commented on #1465
.

[2022-06-03 16:12] cortx-admin commented on #1465
.

[2022-06-03 16:12] cortx-admin commented on #1465
.

[2022-06-03 16:12] cortx-admin commented on #1269
.

[2022-06-03 16:12] cortx-admin commented on #1269
.

[2022-06-03 16:12] cortx-admin commented on #1269
.

[2022-06-09 06:06] vaibhavparatwar commented on #1637
@andriytk  are we still seeing this? Is this bug still valid? cc @SunilSavanurSeagate @mssawant

[2022-06-22 15:34] hessio opened #2125 "Can't see cluster size"
### Problem

"
I found that my cortx cluster can't see the storage size:
[root@ipfs4 build]# hctl status
Bytecount:
    critical : 0
    damaged : 0
    degraded : 0
    healthy : 0
But when I execute " radosgw-admin bucket stats --bucket=*** ", I can see. Although this value is also wrong.
May I ask what is the reason?
"
- taken from this issue on Slack - https://cortxcommunity.slack.com/archives

[2022-06-23 03:07] cortx-admin commented on #2125
.

[2022-06-23 03:07] cortx-admin commented on #2125
.

[2022-06-23 04:10] #2125 closed

[2022-06-29 04:56] cortx-admin commented on #2125
.

[2022-06-30 21:45] kimika88 opened #2129 "I/O test failed"
### Problem

motr[15124]:  47c0  ERROR  [io_req.c:1551:device_check]  <! rc=-5 [0x23724c0] too many failures: nodes=0 + svcs=0 + devs=2, allowed: nodes=0 or svcs=0 or devs=0
[a lot of lines like this]

### Expected behavior

no error messsages?

### How to reproduce

Followed this section in the user guide:
https://github.com/kimika88/cortx-hare/blob/patch-1/README.md#hare-we-go

### Deployment in

[2022-06-30 21:47] kimika88 opened #2130 "I/O test failed"
### Problem

error messages after running m0crate command:
motr[15124]:  47c0  ERROR  [io_req.c:1551:device_check]  <! rc=-5 [0x7fc1f0056460] too many failures: nodes=0 + svcs=0 + devs=2, allowed: nodes=0 or svcs=0 or devs=0
(and more lines like this)

### Expected behavior

expecting no error

### How to reproduce

Followed this section in the user guide:
https://github.com/kimika88/cortx-hare/bl

[2022-06-30 21:48] #2130 closed

[2022-06-30 21:48] kimika88 commented on #2130
This is a duplicated issue as #2129 I submitted twice because I saw 404 error and thought I did not submit successfully.

[2022-06-30 22:03] cortx-admin commented on #2129
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33119. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-06-30 22:03] cortx-admin commented on #2130
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-33120. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-07-19 05:15] cortx-admin commented on #2130
.

[2022-07-19 05:15] cortx-admin commented on #2130
.

[2022-07-19 05:15] cortx-admin commented on #2130
.

[2022-07-21 14:35] cortx-admin commented on #2060
Currently recommendation for number of m0d io-services is 1 io service per node - in production environment.  So we are reducing the priority of this issue for now.

[2022-07-21 14:35] cortx-admin commented on #1741
[~520414] [~532357][~517711][~535110] - Need some help from Architects and PLM to understand the requirement of this feature and MVP if we take this up. We are changing this to a story for now (may be this will be a epic if large changes are required). [~211146] [~519455] We need general guidance for enhancement requests coming in from community and how do we accommodate in our process. cc [~52051

[2022-07-21 14:35] cortx-admin commented on #1741
[~534380] We need to define what customer problem or use case this solves and only then we can comment if this is required. Please change the title and description of the ticket with these details. 

[2022-07-21 14:35] cortx-admin commented on #1741
[~520414] Could you please help with the use cases ? Or get it from IO-SEA project stake holders ?

[2022-07-21 14:35] cortx-admin commented on #1637
[~520414] Is this issue seen recently? cc [~520513]

[2022-07-21 14:35] cortx-admin commented on #1620
[~520414] are we still seeing this? cc [~520513] [~520478]

[2022-07-22 16:47] cortx-admin commented on #1741
[~752394] [~533209] [~535110]

Hey guys, so need you help here (and Gregory, I konw you are in different role now, but a lot of this was defined/prioritized under your watch ;))

We need to understand how Dynamic Pools really fits into the overall business strategy for CORTX, AND what is its prioritization relative First MVP vs later improvement features.  Thanks!!

 

[2022-07-26 08:19] vaibhavparatwar commented on #1300
@mssawant what is the priority of this issue?

[2022-07-26 09:29] cortx-admin commented on #1741
The response from Gregory (concurred by Pete) indicates this is targeted post MVP, ie first update release after initial MVP.  

[7/22 11:20 AM] Gregory Touretsky

From [https://seagate-systems.atlassian.net/wiki/spaces/PRIVATECOR/pages/563577180/CORTX-Cloud+Product+Requirements+Document+PRD]:

!image-2022-07-26-04-15-30-175.png!

So we agreed in the past that the {color:#de350b}first version of L

[2022-07-26 09:29] cortx-admin commented on #1466
Moving this to story JIRA instead of Bug JIRA as this is new request. cc [~520513] [~520478]

[2022-07-26 09:29] cortx-admin commented on #1464
Moved this to a story JIRA instead of Bug JIRA as this is improvement task. cc [~520513] [~520478]

[2022-07-26 09:29] cortx-admin commented on #1438
Moved this to Story JIRA instead of Bug JIRA. cc [~520513] [~520478]

[2022-07-26 09:29] cortx-admin commented on #1383
Converting this to a story ticket instead of bug in JIRA as this is new request. cc [~520513] [~520478]

[2022-07-26 09:29] cortx-admin commented on #1300
Right now reducing the priority. We will revisit priority in upcoming sprints. cc [~520513] [~520478]

[2022-07-26 10:32] cortx-admin commented on #1960
Low priority as of now cc [~520513] [~520478]

[2022-07-26 10:32] cortx-admin commented on #1954
moving this to story Jira instead of Bug Jira . cc [~520513] [~520478]

[2022-07-26 14:53] cortx-admin commented on #2129
[~931950] and I were able to reproduce this issue. 

Attachment io_logs.txt has all the details of the io test over code pulled from current main of cortx-hare and few days older motr code( build from main). 

 

[2022-07-27 08:23] cortx-admin commented on #2129
Discussed this issue in a teams call with Motr team ([~934754] , [~934272] ) , [~931950], [~534380] . 

If IOsize and block size are same then the following commands succeeds without following error message.

"motr[14694]: d9d0 ERROR [io_req_fop.c:364:io_bottom_half] ioo=0x7f65cc001c70 off=3145728 from=inet:tcp:192.168.54.17@21003 rc=-5 ti_rc=-5 @<4300000176849cda:67addce96ec8dc5e>
 motr[14694]: d

[2022-08-26 15:37] keithpine opened #2158 "Hare Architecture document is private"
### Problem

The link in the README.md document to the Hare Architecture re-directs to a Seagate-private Confluence page. It looks like the document was once public, but now re-directs to a private one.

Offending link:
https://github.com/Seagate/cortx-hare/blob/bd943b6dd93e84f265dd34291fad7f94e8732c43/README.md?plain=1#L340

Clicking on that link re-directs you to a login page, if you're able to

[2022-08-26 15:40] cortx-admin commented on #2158
For the convenience of the Seagate development team, this issue has been mirrored in a private Seagate Jira Server: https://jts.seagate.com/browse/CORTX-34076. Note that community members will not be able to access that Jira server but that is not a problem since all activity in that Jira mirror will be copied into this GitHub issue.

[2022-08-29 08:05] cortx-admin commented on #2158
I tried to move it but it says I don't have the permissions to move this document

[2022-09-15 08:45] hessio commented on #2158
@mukul-seagate11 can you see if you have permissions to update this?